@{
    Layout = "~/Views/Shared/_Printing_Layout.cshtml";

    OrderT order = ViewBag.OrderEntity;
    MemberT OrderMember = ViewBag.OrderMember;
    PrinterT printer = ViewBag.Printer;
}
<div class="contWrap">
      <div class="storeMng"> 
       <div class="subtitle3">
        <h2>@order.OrderNo 주문관리</h2>
        </div>
        <!--현재 주문 위치-->
        <div class="status">
           <!--D 현재 상태 표시를 위해 클래스 staus_order 옆에 클래스 on 추가-->
        	<li class="status_order">3D 모델링 출력<span class="status_arrow"></span>
           </li> 
           <li class="status_order">주문자 확인<span class="status_arrow"></span>
           </li> 
           <li class="status_order">배송<span class="status_arrow"></span>
           </li> 
           <li class="status_order on">배송 및 구매완료<span class="status_arrow"></span>
           </li> 
                    
        </div>
        <div class="status_wrap">
                @if ((order.OrderStatus == (int)Makersn.Util.MakersnEnumTypes.OrderState.배송완료) || (order.OrderStatus == (int)Makersn.Util.MakersnEnumTypes.OrderState.거래완료))
                {
                    <div class="status_txt">
                            구매가 완료되었습니다.<br> 거래 금액은 정산정책에 의하여 매월 초에 고객님의 계좌로 입금될 예정입니다. 
                    </div>
                }
        </div>
        <!--//현재 주문 위치-->
        
        
   		<div class="cartWrap">
               
                     <p class="cartTxt3 mgT45">주문된 프린터</p>
          <dl class="ordInfo noBox">
          	<dt class="pdT15">프린터 이름</dt>
            <a href="/Printing/Detail?no=@printer.No"><dd> <input class="ordInput" readonly="readonly" type="text" value="@printer.Brand @printer.Model" ></dd></a> 
              </dl>

        <!--printing information-->
        <p class="cartTxt3">프린팅 정보</p>  
        <div class="myorderMng">
         <table class="tblType bdcolor" summary="내 주문리스트">
            <caption>내 주문 리스트</caption>
            <colgroup>
              <col style="width:50%;">
              <col style="width:17%;">
              <col style="width:16%;">
              <col style="width:17%;">
            </colgroup>
            <thead>
              <tr>
                <th scope="col">요청한 파일 정보</th>
                <th scope="col">재질 및 색상</th>
                <th scope="col">주문수량</th>
                <th scope="col">매출</th>
              </tr>
            </thead>
            <tbody>

                  @foreach (OrderDetailT detail in order.orderDetailList)
                  {

              <tr>
                <td>
                	<ul class="prd">
                  	<li><img src="@ViewBag.ArticleImgUrl@detail.FileImgRename" class="prdImg1" alt="주문한 상품"></li>
                  	<li>
                    	<p class="prdTxt1">@detail.FileName</p>
                        <p class="prdTxt2">
                                                    크&nbsp;&nbsp;&nbsp;기&nbsp;:&nbsp; <span class="prdTxt2_vol">@(detail.SizeX/10)cm X @(detail.SizeY/10)cm X @(detail.SizeZ/10)cm</span> <br />
                                                    총부피&nbsp;:&nbsp; <span class="prdTxt2_vol">@(Math.Round(detail.Volume/1000,2))cm³</span> </p>
                                            </li>
                	</ul>
                </td>
                <td class="mat">@detail.MaterialName, @Enum.GetName(typeof(Makersn.Util.MakersnEnumTypes.MaterialColor), detail.ColorNo)</td>
                <td>@detail.OrderCount 개</td>
                
                <td>@string.Format("{0:N0}", detail.OrderCount * detail.UnitPrice)원</td>
              </tr>                  
                  }
              
            </tbody>
          </table> 
          </div>
        

        <!--//printing information-->
        
        <p class="cartTxt3 mgT45">주문자 정보</p>
          <dl class="ordInfo noBox">
          	<dt class="pdT15">주문자명</dt>
            <dd><input id="" class="ordInput w115" type="text" name="ordEmail" value="@OrderMember.Name"></dd>        
            <dt class="clear pdT15">연락처</dt>
            <dd><input id="" class="ordInput w115" type="text" name="ordEmail" value="@(OrderMember.CellPhone != "--" && OrderMember.CellPhone != null ? OrderMember.CellPhone : "")"></dd> 
            <dt class="clear pdT15">배송방법</dt>
 			 <dd><input id="" class="ordInput w115" type="text" name="ordName" value="@Enum.GetName(typeof(Makersn.Util.MakersnEnumTypes.PostType), order.PostMode)"></dd>  
            <dt class="clear pdT15">배송지</dt>
            <dd><input id="" class="ordInput w351" type="text" name="ordName" value="@order.PostAddress @order.PostAddressDetail"></dd>  
            <dt class="clear pdT15">요청사항</dt>
            <dd><input id="" class="ordInput w710" type="text" name="ordName" value="@order.RequireComment"</dd> 
          </dl>
          <!--// 주문자정보 -->
           <div class="mgB100">
          <!--// 기타정보 -->
          <div class="ordBtn2 mgL80">
            <a href="/Order/MngHome" class="btnO type2 mgL40">목록 보기</a>
            
          </div>
          
       </div>
     </div>  
          
          
       

     </div>  
        
      </div>
@section Scripts{
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery.bxslider.min.js")"></script>
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery-ui.js")"></script>
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery.form.min.js")"></script>
    <script type="text/javascript">
        var uploadCnt;

        var Upload = Upload || {};

        var uploadFileCnt = 0;
        Upload.Init = function () {
            // 3d이미지,파일 draggable &  droppable 
           
            // 이미지 삭제 버튼 보이기
            $('.selectImg ul li').hover(function () {
                $(this).find('.delImg').show();
                $(this).find('.showThum').show();
            }, function () {
                $(this).find('.delImg').hide();
                $(this).find('.showThum').hide();
            });

            $(".delImg").on('click', function (e) {
                $(this).hide();
                Upload.Remove(this);
            }
            );
            uploadCnt = $("#uploadCnt").val();
        }
        $(function () {
            Upload.Init();
        });
        $("#imgupload").on("change", function (e) {
            e.preventDefault();
            var fileobj = $("#imgupload");
            if (Upload.ValidExtension("img", fileobj) === false) {
                return false;
            }

            Upload.File("/Order/ImgUpload");
        });

        Upload.File = function (action) {
            var options = {
                success: function (response) {
                    console.log(response);
                    if (response.Success) {
                        uploadFileCnt++;
                        Upload.Draw(response.Name, response.Rename);
                    }
                    else {
                        alert(response.Message);
                        alert("success and response false");
                    }
                },
                complete: function (response) {
                    alert("complate");
                },
                error: function (error) {
                    console.log(error);
                    alert("error");
                }
            };

            $('#insert_form').attr("action", action).ajaxForm(options).submit();
        }
        Upload.ValidExtension = function (type, fileobj) {
            var regex;

            if (fileobj[0].files[0].size > 100 * 1024 * 1024) {
                alert('쵀대 사이즈를 초과하였습니다.');
                return false;
            }

            if (type == "img") {

                regex = /(.jpg|.jpeg|.gif|.png)$/i;
                if (!regex.test(fileobj.val().toLowerCase())) {
                    alert('gif, jpg, png 형식 파일만 가능합니다.');
                    return false;
                }
            }
            else if (type == "3d") {
                regex = /(.stl|.obj)$/i;
                if (!regex.test(fileobj.val().toLowerCase())) {
                    alert('stl, obj 형식 파일만 가능합니다.');
                    return false;
                }
            }
            else {
                alert('파일 타입을 확인해주세요.');
                return false;
            }
        }

        Upload.More = function () {
            var addUploadCnt = parseInt(uploadCnt) + 5;
            $("#uploadCnt").val(addUploadCnt);
            uploadCnt = $("#uploadCnt").val();
            Upload.GetPrinterFiles();
        }

        Upload.Draw = function (name, rename) {
            var uploadImgCol = $("#ajax_upload");
            var li = uploadImgCol.find("li").eq(uploadFileCnt - 1);
            $(li).find("").remove();
            $(li).empty();
            var div = $('<div />', {
                "class": "imgBox ui-draggable ui-draggable-handle ui-droppable",
            }).appendTo(li);

            $('<a />', {
                title: "삭제",
                "class": "delImg",
                href: "javascript:void(0)"
            }).appendTo(div);

            $('<input />', {
                type: "hidden",
                val: name,
                "class": "ImgName",
                name: "ImgName"
            }).appendTo(div);
            $('<input />', {
                type: "hidden",
                val: rename,
                "class": "ImgRename",
                name: "ImgRename"
            }).appendTo(div);
            $('<input />', {
                type: "hidden",
                val: uploadFileCnt,
                id: "seq",
                name: "seq"
            }).appendTo(div);

            $('<img />', {
                src: "/FileUpload/Printer/printer_img/" + rename,
                alt: "thumbnail"
            }).appendTo(div);
            Upload.Init();
        }

        Upload.Remove = function (val) {
            console.log("" + $(val).parents("li").find("#seq").val());
            if ($(val).parents("li").length > 0) {
                uploadFileCnt--;
            } else {
                return;
            }

            var li = $(val).parents("li");
            var seq = $(li).find("#seq").val();
            $(li).find("").remove();
            $(li).empty();


            var uploadImgCol = $("#ajax_upload");
            for (var i = seq ; i <= uploadFileCnt + 1; i++) {
                var min = --i;
                i++;
                if (i <= uploadFileCnt) {
                    $(uploadImgCol).find("li").eq(min).append($(uploadImgCol).find("li").eq(i).find("div"));
                    $(uploadImgCol).find("li").eq(min).find("#seq").val(i);
                }
                if (i > uploadFileCnt) {
                    $(uploadImgCol).find("li").eq(min).text(i);
                }
            }
        }
        function removeText(val) {
            if ($(val).val() == "0" || $(val).val() == "요청하신 주문에 대한 출력이 완료되었습니다.") {
                $(val).val("");
            }
        }


        function submitImg(val) {

            var ImgNameInfo = "";
            var ImgRenameInfo = "";
            var length = $(".ImgName").length;
            for (var i = 0; i < length; i++) {
                ImgNameInfo = ImgNameInfo + $(".ImgName").eq(i).attr("value") + ";";
                ImgRenameInfo = ImgRenameInfo + $(".ImgRename").eq(i).attr("value") + ";";
            }


            $("#ImgNameInfo").attr("value", ImgNameInfo);
            $("#ImgRenameInfo").attr("value", ImgRenameInfo);

            var options = {
                beforeSend: function () {
                },
                success: function (response) {
                    if (response.Success) {
                        var action = "/Order/MngDetailPrtDone?OrderNo="+response.Result;
                        $(location).attr("href", action);
                    }
                    else {
                        alert(response.Message);
                    }
                },
                complete: function (response) {
                },
                error: function (error) {
                    var exception = null;
                    if (error != null && typeof (error.responseText) != 'undefined') {
                        try {
                            exception = $.parseJSON(error.responseText);
                            if (typeof (exception.ExceptionMessage) != "undefined" && $.trim(exception.ExceptionMessage) != '') {
                                alert(exception.ExceptionMessage);
                            }
                        } catch (ex) {
                            //alert(ex.name); 
                        }
                    }
                }
            };

            $('#insert_form').attr("action", "/Order/MngDetailPrtDone").ajaxForm(options).submit();
        }
    </script>

}