@model IList<OrderDetailT>
@{
    Layout = "~/Views/Shared/_Printing_Layout.cshtml";

    OrderT order = ViewBag.Order;
    MemberT member = ViewBag.Member;
    DefaultAddressT address = ViewBag.DefaultAddress == null ? new DefaultAddressT() : ViewBag.DefaultAddress;
    int TotalPrice = 0;

    string memFirstCell = string.Empty;
    string memSecondCell = string.Empty;
    string memThirdCell = string.Empty;
    if (member.CellPhone != null)
    {
        int firstIndex = member.CellPhone.IndexOf("-");
        int lastIndex = member.CellPhone.LastIndexOf("-");
        memFirstCell = member.CellPhone.Substring(0, firstIndex);
        memSecondCell = member.CellPhone.Substring(firstIndex + 1, lastIndex - firstIndex - 1);
        memThirdCell = member.CellPhone.Substring(lastIndex + 1);
    }
    PrinterT printer = ViewBag.Printer;

    PrinterMemberT spot = ViewBag.Spot;

    string postPrice = spot.PostType == (int)Makersn.Util.MakersnEnumTypes.PrinterPostType.수신자_부담 ? "착불(수신자 부담)" : "<span class='mn'>@string.Format('{0:N0}', order.PostPrice)</span>원";
    string postPrice2 = spot.PostType == (int)Makersn.Util.MakersnEnumTypes.PrinterPostType.수신자_부담 ? "착불(수신자 부담)" : "<span class='num'>@string.Format('{0:N0}', order.PostPrice)</span>원";

    int bankCount = 0;
}


<!-- contWrap -->
<div class="contWrap">

    <div class="subtitle3">
        <h2>내 주문</h2>
    </div>

    <!--표-->
    <div class="cartWrap">

        <div class="myorderMng">
            <table class="tblType" summary="내 주문리스트">
                <caption>내 주문 리스트</caption>
                <colgroup>
                    <col style="width: 39%;" />
                    <col style="width: 13%;" />
                    <col style="width: 12%;" />
                    <col style="width: 13%;" />
                    <col style="width: 12%;" />
                    <col style="width: 11%;" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">요청한 파일 정보</th>
                        <th scope="col">재질 및 색상</th>
                        <th scope="col">프린터 기종</th>
                        <th scope="col">수량</th>
                        <th scope="col">주문금액</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OrderDetailT detail in Model)
                    {
                        int Price = detail.UnitPrice * detail.OrderCount;
                        var chgPrice = string.Format("{0:N0}", Price);
                        TotalPrice += Price;
                        <tr>
                            <td>
                                <ul class="prd">
                                    <li>
                                        <img src="@ViewBag.ArticleImgUrl@detail.FileImgRename" class="prdImg1" alt="주문한 상품" /></li>
                                    <li>
                                        <p class="prdTxt1" style="width:250px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;" title="@detail.FileName">@detail.FileName</p>
                                        <p class="prdTxt2">총부피 : <span class="prdTxt2_vol">@(Math.Round((detail.Volume * 0.001)/0.1)*0.1)㎤</span> </p>
                                    </li>
                                </ul>
                            </td>
                            <td>
                                @Enum.GetName(typeof(Makersn.Util.MakersnEnumTypes.Material), detail.MaterialNo)
                                , 
                                @Enum.GetName(typeof(Makersn.Util.MakersnEnumTypes.MaterialColor), detail.ColorNo)
                            </td>
                            <td>@printer.Model</td>
                            <td>@detail.OrderCount</td>
                            <td>@(chgPrice)원</td>
                            <td>
                                @*<p class="mgT6"><a href="" class="btnG type2 mgTB10">다시 계산하기</a></p>*@
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="cartTot">
            <p>
                출력 금액 <span class="mn">@string.Format("{0:N0}", TotalPrice)</span>원 + 
                @if (order.PostMode != (int)Makersn.Util.MakersnEnumTypes.PostType.픽업)
                {
                    <label>배송비</label>
                }

                @{if (spot.PostType== (int)Makersn.Util.MakersnEnumTypes.PrinterPostType.수신자_부담)
                  {
                    <label>착불(수신자 부담)</label>
                  }
                  else
                  {
                    <span class='mn'>@string.Format("{0:N0}", order.PostPrice)</span><label>원</label>
                  }}
                = 총 합계 <span class="tot">@(string.Format("{0:N0}", TotalPrice + order.PostPrice))</span> 원
            </p>
        </div>
    </div>
    <!--//표-->


    <div class="cartWrap">
        @*<div class="printText2">
            <p class="txt5">
                ‘프린터 소유자 ID’님이 ‘내 아이디’님의 출력 요청을 수락하셨습니다.<br>
                ‘프린터 소유자 ID’님이 요청을 수락하면 SMS와 이메일로 알려드립니다.<br>
                아래에서 결제를 완료하시면 출력이 진행됩니다.

            </p>
        </div>*@
        <!-- 주문고객정보 -->
        <form id="cartForm1" name="cartForm1" method="post" action="">

            <input type="hidden" name="hfOrderNo" value="@order.No" />
            <input type="hidden" name="hfPostMode" value="@order.PostMode" />

            <p class="cartTxt2 mgT45">주문고객정보</p>
            <dl class="ordInfo">
                <dt class="mgT20">주문자명</dt>
                <dd>
                    <input id="ordName" class="ordInput w115" type="text" name="ordName" value="@order.OrderMemberName" /></dd>
                <dt class="clear mgT20">이메일</dt>
                <dd>
                    <input id="ordEmail" class="ordInput w220" type="text" name="ordEmail" value="@order.Email" /></dd>
                <dt class="clear mgT20">휴대폰</dt>
                <dd>
                    <input id="ordHp1" class="ordInput w55" type="text" maxlength="3" onkeydown="return IsNum(event)" name="ordHp" value="@memFirstCell" />
                    -
              <input id="ordHp2" class="ordInput w70" type="text" maxlength="4" onkeydown="return IsNum(event)" name="ordHp" value="@memSecondCell" />
                    -
              <input id="ordHp3" class="ordInput w70" type="text" maxlength="4" onkeydown="return IsNum(event)" name="ordHp" value="@memThirdCell" />
                </dd>

                @if (order.PostMode == 1)
                {
                    <dt class="clear mgT20">요청사항</dt>
                    <dd>
                        <p>
                            <input id="" class="ordInput w710 flL" type="text" name="sendNoti" value="" maxlength="500" />
                        </p>
                        <p class="txt3">※ 정확한 주소 및 통화 가능한 연락처 필수 기입. 배송지 불분명 및 수신불가 연락처 기입으로 반송되는 왕복 택배 비용은 구매자 부담입니다.</p>
                    </dd>
                }

            </dl>
            <!--// 주문고객정보 -->

            @if (order.PostMode != 1)
            {
                string firstCell = string.Empty;
                string secondCell = string.Empty;
                string thirdCell = string.Empty;
                string firstAdd = string.Empty;
                string secondAdd = string.Empty;
                string thirdAdd = string.Empty;
                //string firstPostNum = string.Empty;
                //string secondPostNum = string.Empty;


                if (address.CellPhone != null)
                {
                    int firstIndex = address.CellPhone.IndexOf("-");
                    int lastIndex = address.CellPhone.LastIndexOf("-");
                    string phone = address.CellPhone;
                    firstCell = phone.Substring(0, firstIndex);
                    secondCell = phone.Substring(firstIndex + 1, lastIndex - firstIndex - 1);
                    thirdCell = phone.Substring(lastIndex + 1);
                }
                //if (address.PostNum != null)
                //{
                //    firstPostNum = address.PostNum.Substring(0, address.PostNum.IndexOf("-"));
                //    secondPostNum = address.PostNum.Substring(address.PostNum.IndexOf("-") + 1);
                //}
                if (address.AddPhone != null)
                {
                    int firstIndex = address.AddPhone.IndexOf("-");
                    int lastIndex = address.AddPhone.LastIndexOf("-");
                    string phone = address.AddPhone;
                    firstAdd = phone.Substring(0, firstIndex);
                    secondAdd = phone.Substring(firstIndex + 1, lastIndex - firstIndex - 1);
                    thirdAdd = phone.Substring(lastIndex + 1);
                }
                
                <!-- 배송지정보 -->
                <p class="cartTxt2 mgT45">
                    <span class="mgR80">배송지정보 </span>
                    <input name="sendLoc" id="sendLoc1" type="radio" value="" onclick="getPostInfo('D')" checked /><label for="sendLoc1" onclick="getPostInfo('D')"> 기본 배송지</label>
                    <input name="sendLoc" id="sendLoc2" type="radio" value="" onclick="getPostInfo('N')" /><label for="sendLoc2" onclick="getPostInfo('N')"> 새로운 배송지</label>
                    <input name="sendLoc" id="sendLoc3" type="radio" value="" onclick="getPostInfo('B')" /><label for="sendLoc3" onclick="getPostInfo('B')"> 과거 배송지</label>
                </p>
                <dl class="ordInfo" id="dlPostInfo">
                    <dt class="mgT20">수령인명</dt>
                    <dd>
                        <input id="sendName" class="ordInput w115" type="text" name="sendName" value="@address.PostMemberName" /></dd>
                    <dt class="clear mgT20">휴대폰</dt>
                    <dd>
                        <input id="sendHp1" class="ordInput w55" type="text" maxlength="3" onkeydown="return IsNum(event)" name="sendHp" value="@firstCell" />
                        -
              <input id="sendHp2" class="ordInput w70" type="text" maxlength="4" onkeydown="return IsNum(event)" name="sendHp" value="@secondCell" />
                        -
              <input id="sendHp3" class="ordInput w70" type="text" maxlength="4" onkeydown="return IsNum(event)" name="sendHp" value="@thirdCell" />
                    </dd>
                    <dt class="mgL70 mgT20">추가번호 (선택)</dt>
                    <dd>
                        <input id="" class="ordInput w55" type="text" maxlength="3" onkeydown="return IsNum(event)" name="sendHp2" value="@firstAdd" />
                        -
              <input id="" class="ordInput w70" type="text" maxlength="4" onkeydown="return IsNum(event)" name="sendHp2" value="@secondAdd" />
                        -
              <input id="" class="ordInput w70" type="text" maxlength="4" onkeydown="return IsNum(event)" name="sendHp2" value="@thirdAdd" />
                    </dd>
                    <dt class="clear mgT20">주소</dt>
                    <dd>
                        <p>
                            @*<input id="sendPost1" class="ordInput w55 flL postcodify_postcode6_1" type="text" name="sendPost" readonly="readonly" value="@firstPostNum" />
                            <span class="txt1">-</span>
                            <input id="sendPost2" class="ordInput w55 flL postcodify_postcode6_2" type="text" name="sendPost" readonly="readonly" value="@secondPostNum" />*@
                            <input id="sendPost1" class="ordInput w55 flL postcodify_postcode6_1" type="text" name="sendPost" readonly="readonly" value="@address.PostNum" />
                            <a href="#" class="btnPost" id="postcodify_search_button" onclick="sample6_execDaumPostcode()">우편번호 찾기</a>
                        </p>
                        <p class="clear pdT10">
                            <input id="sendAddr1" class="ordInput w351 flL mgR7 postcodify_address" type="text" name="sendAddr" readonly="readonly" value="@address.Address" />
                            <input id="sendAddr2" class="ordInput w351 flL postcodify_details" type="text" name="sendAddr2" value="@address.AddressDetail" />
                        </p>
                    </dd>
                    <dt class="clear mgT20">요청사항</dt>
                    <dd>
                        <p>
                            <input id="" class="ordInput w710 flL" type="text" name="sendNoti" value="" maxlength="500" />
                        </p>
                        <p class="clear txt2">
                            <input type="checkbox" name="cartCheck" />
                            주소록에 기본 배송지로 지정
                        </p>
                        <p class="txt3">※ 정확한 주소 및 통화 가능한 연락처 필수 기입. 배송지 불분명 및 수신불가 연락처 기입으로 반송되는 왕복 택배 비용은 구매자 부담입니다.</p>
                    </dd>
                </dl>
            }
            <!--// 배송지정보 -->

            @* <!-- 쿠폰정보 -->
            <p class="cartTxt2 mgT45">쿠폰정보</p>
            <dl class="ordInfo">
                <dt>쿠폰선택</dt>
                <dd>
                    <div class="coupon">
                        <p class="value">사용 하실 쿠폰을 선택하세요!</p>
                        <ul class="valueLi">
                            <li id="coup_1">
                                <input type="radio" id="coupon_1" name="coupon" value="" /><label for="coupon_1">회원 가입 감사 쿠폰 (10% 할인) - 2015년 8월 30일까지</label></li>
                            <li id="coup_2">
                                <input type="radio" id="coupon_2" name="coupon" value="1" /><label for="coupon_2">무료 배송 쿠폰 (20,000원 이상 주문 시) - 2015년 7월 30일까지</label></li>
                        </ul>
                    </div>
                    <p class="coupTxt1">사용가능 쿠폰 : <span class="num">2</span>장</p>
                </dd>
            </dl>
            <!--// 쿠폰정보 -->*@

            <!-- 결제 금액 -->
            <p class="cartTxt2 mgT45">결제 금액</p>
            <dl class="ordInfo2">
                <dt>총 주문금액</dt>
                <dd><span class="num">@string.Format("{0:N0}", TotalPrice)</span> 원</dd>
                <dt class="clear">배송비</dt>
                <dd>
                    @{if (spot.PostType== (int)Makersn.Util.MakersnEnumTypes.PrinterPostType.수신자_부담)
                      {
                        <label>착불(수신자 부담)</label>
                      }
                      else
                      {
                        <span class='num'>@string.Format("{0:N0}", order.PostPrice)</span><label>원</label>
                      }}
                </dd>
                @*<dt class="clear">쿠폰 사용</dt>
                <dd><span class="num2">-9,500</span> 원</dd>*@
                <dt class="clear last">최종 결제금액</dt>
                <dd class="last"><span class="num">@(string.Format("{0:N0}", (TotalPrice + order.PostPrice)))</span> 원</dd>
            </dl>
            <!--// 결제 금액 -->




            <!-- 결제수단 -->
            <p class="cartTxt2 mgT45">결제수단</p>

            <input name="payType" id="payType" type="hidden" value="10" />
            <input name="bankNum" id="bankNum" type="hidden" value="0" />


            <div class="ordInfo">
                <p class="ordPay">
                    <a href="#">
                        <img src="/content/images/common/radio_off.gif">
                        신용카드(준비중입니다)</a>
                    <a href="javascript:chgPayType(10)">
                        <img src="/content/images/common/radio_on.gif">
                        계좌이체</a>

                </p>
                <div class="line">
                    <div class="box">
                        <p class="title">환불 계좌 등록
                            <label style="font-size: small; color: gray">(프린팅 스팟에서 취소시 결제금액이 환불되는 계좌 입니다.)</label></p>
                        <div class="bankZone">
                            <div class="optBank w95" id="divBank">
                                <p class="value" id="pBank">은행명</p>
                                <ul class="valueLi " id="ulBank" style="display: none; max-height: 150px; overflow-y: scroll">
                                    @foreach (Makersn.Util.MakersnEnumTypes.BankType statEnum in Enum.GetValues(typeof(Makersn.Util.MakersnEnumTypes.BankType)))
                                    {
                                        bankCount++;
                                        <li id="optBank_@bankCount ">
                                            <input type="radio" id="selBank_@bankCount " name="optBank" value="@bankCount " /><label for="optBank_1">@Enum.GetName(typeof(Makersn.Util.MakersnEnumTypes.BankType), bankCount)</label></li>
                                    }
                                </ul>
                            </div>
                            <div class="selMn">
                                <p>
                                    <input name="accountNo" id="accountNo" class="inputLoca" style="color: black" type="text" maxlength="30" onkeydown="return IsNum(event)" placeholder="계좌번호(-)제외하고 입력해 주세요.">
                                </p>
                            </div>
                            <div class="selMn w105 mgL5">
                                <p>
                                    <input name="accountName" id="accountName" class="inputLoca w90" style="color: black" maxlength="20" type="text" placeholder="예금주">
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                @*                @if (spot.TaxbillFlag == "Y")
                {
                    
                    
                    *@<input name="taxYn" id="taxYn" type="hidden" value="Y" />
                <input name="taxGroup" id="taxGroup" type="hidden" value="P" />
                <input name="taxType" id="taxType" type="hidden" value="1" />

                <div class="line mgT80">
                    <div class="box">
                        <p class="title mgT10">현금영수증 발행 여부</p>
                        <ul class="resol mgT10">
                            <li><a href="javascript:void(0)" onclick="taxYn('Y',this)" class="radioBtn taxYn on" title="선택버튼"></a><span>신청하기</span></li>
                            <li class="mgL25"><a href="javascript:void(0)" onclick="taxYn('N',this)" class="radioBtn taxYn" title="선택버튼"></a><span>신청 안함</span></li>
                        </ul>

                        <div id="divTaxYn">
                            <ul class="resol mgT10">
                                <li><a href="javascript:void(0)" onclick="taxGroup('P',this)" class="radioBtn rdTaxGroup on" title="선택버튼"></a><span>개인 소득 공제</span></li>
                                <li><a href="javascript:void(0)" onclick="taxGroup('C',this)" class="radioBtn rdTaxGroup" title="선택버튼"></a><span>사업자 증빙</span></li>
                            </ul>



                            <div id="divPersonalTax">
                                <!--개인 소득 공제-->
                                <div class="cash">
                                    <div class="bankZone mgT20">
                                        <div class="optBank w150" id="divPersonal">
                                            <p class="value w150" id="pPersonal">휴대전화번호</p>
                                            <ul class="valueLi" style="display: none;" id="ulPersonal">
                                                <li>
                                                    <input type="radio" id="" name="cashRecType" value="1"><label>휴대전화번호</label></li>
                                                <li>
                                                    <input type="radio" id="" name="cashRecType" value="2"><label>주민등록번호</label></li>
                                                <li>
                                                    <input type="radio" id="" name="cashRecType" value="3"><label>현금영수증 카드</label></li>
                                            </ul>
                                        </div>

                                        @*핸드폰 번호*@
                                        <div id="divCellPhone">
                                            <div class="selMn mgL155">
                                                <p>
                                                    <input name="cashReceiptsPhone" id="cashReceiptsPhone1" onkeydown="return IsNum(event)" maxlength="3" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                            <div class="dash">
                                                -
                                            </div>
                                            <div class="selMn">
                                                <p>
                                                    <input name="cashReceiptsPhone" id="cashReceiptsPhone2" onkeydown="return IsNum(event)" maxlength="4" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                            <div class="dash">
                                                -
                                            </div>
                                            <div class="selMn">
                                                <p>
                                                    <input name="cashReceiptsPhone" id="cashReceiptsPhone3" onkeydown="return IsNum(event)" maxlength="4" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                        </div>


                                        @*주민등록번호*@

                                        <div id="divPersonNum" style="display: none">
                                            <div class="selMn mgL155">
                                                <p>
                                                    <input name="cashReceiptsPersonNum" id="register_no1" onkeydown="return IsNum(event)" maxlength="6" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                            <div class="dash">
                                                -
                                            </div>
                                            <div class="selMn">
                                                <p>
                                                    <input name="cashReceiptsPersonNum" id="register_no2" onkeydown="return IsNum(event)" maxlength="7" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                        </div>

                                        @*현금영수증*@
                                        <div id="divCashReceipts" style="display: none">
                                            <div class="selMn mgL155">
                                                <p>
                                                    <input name="cashReceiptsCard" id="cashReceiptsCard1" onkeydown="return IsNum(event)" maxlength="4" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                            <div class="dash">
                                                -
                                            </div>
                                            <div class="selMn">
                                                <p>
                                                    <input name="cashReceiptsCard" id="cashReceiptsCard2" onkeydown="return IsNum(event)" maxlength="4" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                            <div class="dash">
                                                -
                                            </div>
                                            <div class="selMn">
                                                <p>
                                                    <input name="cashReceiptsCard" id="cashReceiptsCard3" onkeydown="return IsNum(event)" maxlength="4" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                            <div class="dash">
                                                -
                                            </div>
                                            <div class="selMn">
                                                <p>
                                                    <input name="cashReceiptsCard" id="cashReceiptsCard4" onkeydown="return IsNum(event)" maxlength="6" class="inputLoca" type="text" value="">
                                                </p>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                                <!--//개인 소득 공제-->
                            </div>

                            <div class="id" id="divCompanyTax" style="display: none">
                                <!--사업자등록번호-->
                                <div class="bankZone mgT20">
                                    <div class="optBank title">
                                        사업자등록번호               
                                    </div>
                                    <div class="selMn mgL103">
                                        <p>
                                            <input name="companyNum" id="companyNum1" onkeydown="return IsNum(event)" maxlength="3" class="inputLoca" type="text" value="">
                                        </p>
                                    </div>
                                    <div class="dash">
                                        -
                                    </div>
                                    <div class="selMn">
                                        <p>
                                            <input name="companyNum" id="companyNum2" onkeydown="return IsNum(event)" maxlength="2" class="inputLoca" type="text" value="">
                                        </p>
                                    </div>
                                    <div class="dash">
                                        -
                                    </div>
                                    <div class="selMn">
                                        <p>
                                            <input name="companyNum" id="companyNum3" onkeydown="return IsNum(event)" maxlength="5" class="inputLoca" type="text" value="">
                                        </p>
                                    </div>
                                </div>
                                <!--//사업자등록번호-->

                            </div>
                        </div>

                    </div>
                </div>
                @*}*@
                <!--// 결제수단 -->
            </div>


            <!--// 결제수단 -->

            <div class="ordBtn2">
                <a href="javascript:GoBack()" class="btnGO type2">취소</a>
                <a href="javascript:MakePayment()" class="btnO type3">결제하기</a>
            </div>

        </form>
    </div>
</div>


<!-- //contWrap -->



@section Scripts{
    @*<script src="//cdn.poesis.kr/post/popup.min.js"></script>*@
    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>

    <script type="text/javascript">

        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var fullAddr = ''; // 최종 주소 변수
                    var extraAddr = ''; // 조합형 주소 변수

                    // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        fullAddr = data.roadAddress;

                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        fullAddr = data.jibunAddress;
                    }

                    // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                    if (data.userSelectedType === 'R') {
                        //법정동명이 있을 경우 추가한다.
                        if (data.bname !== '') {
                            extraAddr += data.bname;
                        }
                        // 건물명이 있을 경우 추가한다.
                        if (data.buildingName !== '') {
                            extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                        }
                        // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                        fullAddr += (extraAddr !== '' ? ' (' + extraAddr + ')' : '');
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('sendPost1').value = data.zonecode; //5자리 새우편번호 사용
                    document.getElementById('sendAddr1').value = fullAddr;

                    // 커서를 상세주소 필드로 이동한다.
                    document.getElementById('sendAddr2').focus();
                }
            }).open();
        }

        // 셀렉트박스 UI
        $(function () {

            //$("#postcodify_search_button").postcodifyPopUp(); //우편번호 찾기 클릭

            //$('#code_all').addClass('selected');
            //$('#li_1').addClass('selected');

            function uiSelect(obj, valLst, val, check_id) {
                var set = {
                    ie6: navigator.userAgent.toLowerCase().indexOf("msie 6") != -1,
                    container: $(obj),
                    value: $(val),
                    list: $(valLst),
                    firstVal: $(valLst + "> li:first-child > label").html(),
                    li: $(valLst + "> li"),
                    label: $(valLst + "> li > label")
                }

                set.list.hide();
                if (check_id == '') {
                    set.value.append(set.firstVal);
                    $("#category_no").val('전체');
                }
                else {
                    set.value.append($("#" + check_id).next().html());
                    $("#category_no").val(check_id);
                }
                set.value.click(function () {

                    set.list.show();
                    set.list.focusin(function () {
                        set.list.show();
                    }
                    );
                    if (set.ie6) {
                        set.label.hover(
                            function () { $(this).parent().addClass("selected"); },
                            function () { $(this).parent().removeClass("selected"); }
                        );
                    }
                    function listHide() {
                        setTimeout(function () { set.list.hide(); }, 300);
                    }
                    set.container.mouseleave(listHide);
                    set.label.click(function () {
                        set.value.empty().append($(this).html());
                        $("#category_no").val($(this).text());

                        set.list.hide();
                    }
                    );
                }
                );
            }

            uiSelect("#divPersonal", "#ulPersonal", "#pPersonal", "전체");
            uiSelect("#divBank", "#ulBank", "#pBank", "전체");


            $("#ulPersonal li").on('click', function () {
                $("#ulPersonal li").removeClass("selected");
                $(this).addClass("selected");
                $("#taxType").val($(this).find('input').val());
                switch (parseInt($(this).find('input').val())) {
                    case 1:
                        $("#divPersonNum").hide();
                        $("#divCellPhone").show();
                        $("#divCashReceipts").hide();
                        break;
                    case 2:
                        $("#divPersonNum").show();
                        $("#divCellPhone").hide();
                        $("#divCashReceipts").hide();
                        break;
                    case 3:
                        $("#divPersonNum").hide();
                        $("#divCellPhone").hide();
                        $("#divCashReceipts").show();
                        break;
                }
            });

            $("#ulBank li").on('click', function () {
                $("#ulBank li").removeClass("on");
                $(this).addClass("on");
                $("#bankNum").val($(this).find('input').val());
            })

            //uiSelect(".ordState", ".valueLi", ".value", "전체");

            //var selNum = $('.tblType2 tr').length
            //for (i = 1 ; i < selNum ; i++) {
            //    uiSelect("#tbordSta" + i, "#tbordValueLi" + i, "#tbordValue" + i, "주문접수");
            //}

            //$('.valueLi li').on('click', function () {
            //    $('.valueLi li').removeClass("selected");
            //    $(this).addClass("selected");
            //});


            //$('.valueLi li').mouseenter(function () {
            //    $('.valueLi li').removeClass('selected');
            //})

        });

        function GoBack() {
            history.back();
        }

        function MakePayment() {

            if (check_msg('ordName', '주문자 명을 입력해 주세요.', 'required') == false) return false;
            if (check_msg('ordEmail', '올바른 이메일을 입력 해 주세요.', 'required:email') == false) return false;
            if (check_msg('ordHp1', '주문자 휴대폰을 입력 해 주세요.', 'required:phone3') == false) return false;
            if (check_msg('ordHp2', '주문자 휴대폰을 입력 해 주세요.', 'required:phone3') == false) return false;
            if (check_msg('ordHp3', '주문자 휴대폰을 입력 해 주세요.', 'required:phone4') == false) return false;

            if ("@order.PostMode" != "1") {
                if (check_msg('sendName', '수령인명을 입력 해 주세요.', 'required') == false) return false;
                if (check_msg('sendHp1', '수령인 휴대폰을 입력 해 주세요.', 'required:phone3') == false) return false;
                if (check_msg('sendHp2', '수령인 휴대폰을 입력 해 주세요.', 'required:phone3') == false) return false;
                if (check_msg('sendHp3', '수령인 휴대폰을 입력 해 주세요.', 'required:phone4') == false) return false;
                if (check_msg('sendPost1', '우편번호를 입력 해 주세요.', 'required') == false) return false;
                //if (check_msg('sendPost2', '우편번호를 입력 해 주세요.', 'required') == false) return false;
                if (check_msg('sendAddr1', '주소를 입력 해 주세요.', 'required') == false) return false;
                if (check_msg('sendAddr2', '주소를 입력 해 주세요.', 'required') == false) return false;
            }
            //if (check_msg('', '메인이미지를 선택해 주세요.', 'required') == false) return false;


            //게좌이체 관련 관련
            if ($("#bankNum").val() == 0) { alert("환불받을 은행을 선택해 주세요."); return false; }
            if (check_msg('accountNo', '환불받을 계좌번호를 입력해 주세요.', 'required:number') == false) return false;
            if (check_msg('accountName', '환불받을 계좌의 예금주를 입력해 주세요.', 'required') == false) return false;

            //현금영수증 관련
            if ("@spot.TaxbillFlag" == "Y") {
                if ($("#taxYn").val() == "Y") {
                    switch (parseInt($("#taxType").val())) {
                        case 1:
                            if (check_msg('cashReceiptsPhone1', '현금영수증 휴대폰을 확인해 주세요.', 'required:phone3') == false) return false;
                            if (check_msg('cashReceiptsPhone2', '현금영수증 휴대폰을 확인해 주세요.', 'required:phone3') == false) return false;
                            if (check_msg('cashReceiptsPhone3', '현금영수증 휴대폰을 확인해 주세요.', 'required:phone4') == false) return false;
                            break;

                        case 2:
                            if (check_msg('register_no1', '현금영수증 주민등록번호를 확인해 주세요.', 'required:jumin') == false) return false;
                            if (check_msg('register_no2', '현금영수증 주민등록번호를 확인해 주세요.', 'required:jumin') == false) return false;
                            break;

                        case 3:
                            if (check_msg('cashReceiptsCard1', '현금영수증 카드번호를 확인해 주세요.', 'required:cashReceiptsCard4') == false) return false;
                            if (check_msg('cashReceiptsCard2', '현금영수증 카드번호를 확인해 주세요.', 'required:cashReceiptsCard4') == false) return false;
                            if (check_msg('cashReceiptsCard3', '현금영수증 카드번호를 확인해 주세요.', 'required:cashReceiptsCard4') == false) return false;
                            if (check_msg('cashReceiptsCard4', '현금영수증 카드번호를 확인해 주세요.', 'required:cashReceiptsCard6') == false) return false;
                            break;

                        case 4:
                            if (check_msg('companyNum1', '사업자 등록번호를 확인해 주세요.', 'required:companyNum3') == false) return false;
                            if (check_msg('companyNum2', '사업자 등록번호를 확인해 주세요.', 'required:companyNum2') == false) return false;
                            if (check_msg('companyNum3', '사업자 등록번호를 확인해 주세요.', 'required:companyNum5') == false) return false;

                            break;
                    }
                }
            }


            //var $form_data = $("#cartForm1").serialize();
            //console.log($form_data);

            var options = {
                beforeSend: function () {

                },
                uploadProgress: function (event, position, total, percentComplete) {

                },
                success: function (response) {

                    if (response.Success) {
                        location.href = "/order/orderDone?orderNo=" + response.Result;
                        //location.href = "/order/myorder";
                    }
                    else {
                        alert(response.Message);
                    }
                },
                complete: function (response) {

                },
                error: function (error) {
                    console.log(error);
                }
            };

            $('#cartForm1').attr("action", "/order/MakePayment").ajaxForm(options).submit();

        }

        function getPostInfo(val) {
            Ajax.SyncGetPartialView("/order/PostInfo", { type: val }, "dlPostInfo");
        }

        function IsNum(e) {
            var k = window.event ? e.keyCode : e.which;
            if (((k >= 48) && (k <= 57)) || k == 0 || k == 8 || k == 127 || ((k >= 37) && (k <= 40)) || ((k >= 96) && (k <= 105)) || k == 9) {
            } else {
                if (window.event) {
                    window.event.returnValue = false;
                }
                else {
                    e.preventDefault(); //for firefox 
                }
            }
        }

        function chgPayType(payType) {
            $("#paytype").val(payType);
        }

        function taxGroup(type, val) {
            $(".rdTaxGroup").removeClass("on");
            $(val).addClass("on");
            $("#taxGroup").val(type);
            switch (type) {
                case "P":
                    $("#divPersonalTax").show();
                    $("#divCompanyTax").hide();
                    break;
                case "C":
                    $("#taxType").val(4);
                    $("#divPersonalTax").hide();
                    $("#divCompanyTax").show();
                    break;
            }
        }

        function taxYn(flag, val) {
            $(".taxYn").removeClass("on");
            $(val).addClass("on");
            $("#taxYn").val(flag);
            switch (flag) {
                case "Y":
                    $("#divTaxYn").show();
                    break;
                case "N":
                    $("#divTaxYn").hide();
                    break;
            }
        }

    </script>

}