@using Net.Framework.StoreModel
@model List<StoreCartInfo>
@{
    ViewBag.Title = "List";
}
@section Scripts{
<script type="text/javascript">
    $("#btnAllProductOrder").on("click", function () {
        var url = "plugin_check";
        var f = document.forms.cartInfo;

        f.action = url;
        f.submit();
    })

</script>    
    
}
<h2>List</h2>
@{
    string cartNo = "";
    int totPaymoney = 0;
 }

    <table style="border:solid 1px blue;" border="1">        
            <tr>
                <td>상품명</td>    
                <td>판매가</td>    
                <td>갯수</td>      
                <td>주문여부</td>  
            </tr>
        @foreach (StoreCartInfo data in Model)
        {
            <tr>
                <td>@data.PRODUCT_NAME</td>
                <td>@data.TOTAL_PRICE</td>
                <td>@data.PRODUCT_CNT</td>
                <td>@data.ORDER_YN</td>
            </tr>
            cartNo = data.CART_NO;
            totPaymoney += (data.TOTAL_PRICE * data.PRODUCT_CNT); // total price
        }
    </table>

<form id="cartInfo" method="post">
    <input type="text" name="cartNo" value="@cartNo" />
</form>

<p>
<input type="text" readonly="readonly" id="txtTotPayMoney" value="@totPaymoney" />
</p>
<p>
<input type="button" id="btnAllProductOrder" value="전체상품주문" />
</p>