@{
    string IsMain = ViewData["IsMain"] as string;
    string wrapClass = IsMain == "Y" ? "wrap" : "wrap_sub";
}
<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ko">
<head>
    <meta name="title" content="makerbus">
    <meta name="description" content="메이커스앤은 메이커들의 플랫폼이에요. 원하는 3D 모델을 찾고, 만들고, 나눌 수 있어요. 메이커스앤을 통해 당신의 상상을 현실로 만들어보세요!">
    <meta name="twitter:title" content="makerbus">
    <meta name="twitter:description" content="메이커스앤은 메이커들의 플랫폼이에요. 원하는 3D 모델을 찾고, 만들고, 나눌 수 있어요. 메이커스앤을 통해 당신의 상상을 현실로 만들어보세요!">
    <meta property="og:title" content="makerbus">
    <meta property="og:description" content="메이커스앤은 메이커들의 플랫폼이에요. 원하는 3D 모델을 찾고, 만들고, 나눌 수 있어요. 메이커스앤을 통해 당신의 상상을 현실로 만들어보세요!">
    <meta property="og:url" content="http://www.makerbus.com">
    <meta property="og:type" content="website">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.VersionedContent("~/favicon.ico")">
    @RenderSection("head", required: false)
    <link rel="stylesheet" type="text/css" href="~/content/css/common.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/content/css/font.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/content/css/default.css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/content/css/jquery-ui-1.8.18.custom.css" />
    @*<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.1.min.js"></script>*@
    <script type="text/javascript" src="~/content/script/shared.jquery.js"></script>
</head>
<body>
    <!-- Wrap -->
    <div class="@wrapClass">

        <!-- Header -->
        <div class="header">

            <!-- HeaderTop -->
            <div class="headerTop">
                <div class="headerBox">
                    <!-- H1 -->
                    <h1><a href="/">
                        <img src="~/content/images/logo.png" alt="Makerbus" /></a></h1>
                    <!-- //H1 -->

                    <!-- MainMenu -->
                    <ul class="mainMenu">
                        <li class="nav" id="about"><a href="/info/about">소개</a></li>
                        <li class="nav" id="workshop"><a href="/info/workshop">워크샵</a></li>
                        <li class="nav" id="blog"><a href="/blog">블로그</a></li>
                        <li class="nav" id="Apply"><a href="~/Bus/Apply">신청/문의</a></li>
                        <li class="nav last" id="Qna"><a href="~/partner/Qna">파트너쉽</a></li>
                        <!--li class="textbook"><a href="" >교재 다운로드</a></li-->
                        <li class="facebook"><a href="https://www.facebook.com/makerbus" target="_blank"></a></li>
                    </ul>
                    <!-- //MainMenu -->

                </div>
                <!-- //headerBox -->
            </div>
            <!-- //HeaderTop -->

        </div>
        <!-- //Header -->

        @RenderBody()

        <!-- Footer -->
        <div class="footer">
            <div class="footerList">
                <ul class="footInfo">
                    <li><strong>주소&nbsp; </strong>서울시 역삼1동 739-1 신홍빌딩&nbsp;&nbsp;&nbsp;&nbsp; <strong>전화&nbsp; </strong>070-4686-4999&nbsp;&nbsp;&nbsp;&nbsp;<strong>이메일&nbsp; </strong>makerbus@makersi.com
                <li>© makersn corp. All right reserved.</li>
                    </li>
                </ul>
            </div>
        </div>
        <!-- //Footer -->

    </div>
    <!-- //Wrap -->

    @ViewData["Menu"]
</body>

@RenderSection("scripts", required: false)
<script type="text/javascript">
    function index() { };

    index.GoBannerPage = function (link, name) {

        window.open(link, name, "width=700, height=800, menubar=no, status=no, toolbar=no");
    }

    $(function () {
        $("#@ViewData["Menu"]").addClass("on");
    });
</script>
</html>


