@model PagedList.IPagedList<StoreMaterialT>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contents_zone" style="width: 1004px;">
    <h2 class="contents_title">Materials</h2>

    <div class="right_float_wrap">
        <div class="left"><strong>@ViewData["cnt"]</strong> 의 리스트</div>
    </div>

    <div class="btn_right">
        <span class="btnWrap medium"><a href="/Settings/Materials?mode=add" class="_btn_write">등록</a></span>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="tbl_style" summary="">
        <caption>리스트 게시판</caption>
        <colgroup>
            <col width="8%" />
            <col width="20%" />
            <col width="15%" />
            <col width="15%" />
            <col width="15%" />
            <col width="*" />
            <col width="8%" />
        </colgroup>
        <thead>
            <tr>
                <th>순번</th>
                <th>재료명</th>
                <th>단위가격</th>
                <th>슬라이싱 여부</th>
                <th>sort</th>
                <th>이미지</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
            @if ((int)ViewData["cnt"] > 0)
            {
                foreach (var item in Model)
                {
                <tr>
                    <td>@item.NO</td>
                    <td>@item.NAME</td>
                    <td>@item.PRICE</td>
                    <td>@item.SLICE_YN</td>
                    <td>@item.SORT</td>
                    <td></td>
                    <td>

                        @Html.ActionLink("수정", "Materials", new { no = item.NO, mode = "edit" }) |         
           
                        <a href="javascript:void(0);" data-id="@item.NO" class="deleteItem">삭제</a>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" style="height: 200px; text-align: center; vertical-align: middle;">제품이 없습니다.</td>
                </tr>	
            }
        </tbody>
    </table>
    <!-- page_navi -->
    <div class="page_navi">
        @Html.PagedListPager(Model, page => Url.Action("/", new { page }))
    </div>
    <!-- // page_navi -->
</div>
