@model PagedList.IPagedList<Makersn.Models.BoardT>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Notice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- contWrap -->
<div class="contWrap" id="noticeList">
    <h2 class="conTitle">공지사항</h2>

    <!-- noticeList -->

    <div class="noticeList">
        <ul>
            @foreach (Makersn.Models.BoardT notice in Model)
            {
                <li>
                    <div class="titleBox">
                        <a href="javascript:void(0);" data-no="@notice.No">
                            <span class="title">@notice.Title </span>
                            <span class="date">@notice.RegDt.ToString("yyyy.MM.dd")</span>
                            <span class="btnArrow"></span>
                        </a>
                    </div>
                    <div class="textBox">
                        <div class="textZone">
                            @Html.Raw(new Design.Web.Front.Filter.ContentFilter().HtmlDecode(notice.SemiContent))
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

    <!-- //noticeList -->


    <!-- 페이징 -->
    <div class="page_navi">
        @Html.PagedListPager(Model, page => Url.Action("/notice", new { page }),PagedListRenderOptions.ClassicPlusFirstAndLast)
       @* @Html.PagedListPager((PagedList.IPagedList)Model,
    page => ("/info/notice?page=" + page),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast,
    new AjaxOptions
    {
          HttpMethod = "POST",
        UpdateTargetId = "noticeList"
    }))*@
    </div>

    <!-- //페이징 -->

</div>
<!-- //contWrap -->

<style type="text/css">
    .wrap {
        background: #fff !important;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(".mainMenu li a").removeClass("on");
        //$('.noticeList ul li .titleBox a').on('click', function (e) {
        //    e.preventDefault();
        //    var idx = $(this);
        //    var textBox = $('.noticeList ul li .textBox');
        //    console.log(textBox.is(':visible'));
        //    $('.noticeList ul ').find(".on").removeClass("on");
        //    if (textBox.is(':visible')) {
        //        $(".textBox").hide("fast");
        //    }
        //    //$('.noticeList ul li .textBox').hide("fast");
        //    idx.toggleClass('on');

        //    idx.parents('li').find('.textBox').slideToggle('fast', function () {
        //        $('html,body').animate({ scrollTop: idx.offset().top - 100 });
        //    });
        //})

        var $list_atag = $('.noticeList ul li .titleBox a'),
            $textbox = $('.textBox');

        $list_atag.on('click', function () {
            var idx = $(this);
            $textbox.hide("fast");
            if ($(this).is('.on')) {
                $list_atag.removeClass('on');
            } else {
                $list_atag.removeClass('on');
                $(this).toggleClass('on');

                idx.parents('li').find('.textBox').slideToggle('fast', function () {
                    $('html,body').animate({ scrollTop: idx.offset().top - 100 });
                });
            }
            return false;
        });
    });
</script>
