@model IList<BusBlog>
@{
    ViewBag.Title = "메이커버스";
    //배너
    IList<BannerExT> banners = ViewBag.MainBanner as IList<BannerExT>;
}

<!-- topVisual -->
<div class="mainButtons">
    <span class="top_txt"></span>
</div>
<div class="unslider-carousel has-dots topVisu">
    <ul>
        @foreach (var banner in banners)
        {
            <li style="background: url(@Url.BannerFullImg(banner.Image)) top center no-repeat #fff; background-size: cover;"></li>
        }
    </ul>
</div>
<!-- //topVisual -->
<div class="numWrap">
    <div class="current_num">
        <div class="school"><span class="num">@ViewData["SchoolCnt"]</span><span class="title">방문학교</span></div>
        <div class="line"></div>
        <div class="modeling">
            <span class="num">@ViewData["ModelingCnt"]</span><span class="title">모델링<br>
                작업물</span>
        </div>
        <div class="line"></div>
        <div class="student">
            <span class="num">@ViewData["StudentCnt"]</span><span class="title">워크샵<br>
                참가학생</span>
        </div>
        <div class="line"></div>
        <div class="printer">
            <span class="num">@ViewData["PrinterCnt"]</span><span class="title">3D 프린터<br>
                지원</span>
        </div>
        @*<div class="asof">2016년 2월 기준</div>*@
    </div>
</div>
<!-- Event -->
<div class="graybg">
    <div class="mainTitle">
        <h2>블로그</h2>
    </div>
    <div class="picList">
        @foreach (var blog in Model)
        {
            <a href="/blog/views/@blog.NO" class="box">
                <img src="@Url.BlogThumbnail(blog.THUMB_RENAME)">
                <span class="title">@blog.BLOG_TITLE</span>
                <span class="date">@String.Format("{0:yyyy.MM.dd}", blog.REG_DT)</span>
            </a>
        }
    </div>
    <a href="/blog" class="more">View More</a>
</div>
<!-- Event -->
<!-- ContWrap -->
<div class="contWrap">
    <!-- 메이커버스를 후원하는 곳 -->
    <div class="mainTitle">
        <h2>메이커버스<span class="sm">와 함께 달려요</span></h2>
    </div>
    <div class="spon">
        <div class="spon01"></div>
        <div class="spon02"></div>
        <div class="spon03"></div>
    </div>
</div>
<!-- //contWrap -->
