@model IList<BusBlog>
@{
    ViewBag.Title = "메이커버스";
    //배너
    IList<BannerExT> banners = ViewBag.MainBanner as IList<BannerExT>;
    BusStateExT busState = ViewBag.BusState as BusStateExT;
}

<!-- topVisual -->
<div class="mainButtons">
    <span class="top_txt"></span>
</div>
<div class="unslider-carousel has-dots topVisu">
    <ul>
        @foreach (var banner in banners)
        {
            <li style="background: url(@Url.BannerFullImg(banner.Image)) top center no-repeat #fff; background-size: cover;"></li>
        }
    </ul>
</div>
<!-- //topVisual -->
<div class="numWrap">
    <div class="current_num">
        <div class="school"><span class="num">@string.Format("{0:n0}", busState.SCHOOL_CNT)</span><span class="title">방문학교</span></div>
        <div class="line"></div>
        <div class="modeling"><span class="num">@string.Format("{0:n0}", busState.STUDENT_CNT)</span><span class="title">참여학생</span></div>
        <div class="line"></div>
        <div class="student"><span class="num">@string.Format("{0:n0}", busState.MODELING_CNT)</span><span class="title">모델링 작품</div>
        <div class="line"></div>
        <div class="printer"><span class="num">@string.Format("{0:n0}", busState.PRINTER_CNT)</span><span class="title">프린터 지원</span></div>
        @if (!string.IsNullOrEmpty(busState.STATE_MESSAGE))
        {
            <div class="asof">@busState.STATE_MESSAGE</div>
        }
    </div>
</div>
<!-- Event -->
<div class="graybg">
    <div class="mainTitle">
        <h2>Blog</h2>
    </div>
    <div class="picList">
        @foreach (var blog in Model)
        {
            string blogTitle = blog.BLOG_TITLE;
            int titleLength = blogTitle.Length;
            <a href="/blog/views/@blog.NO" class="box">
                <img src="@Url.BlogThumbnail(blog.THUMB_RENAME)">
                <div class="title">
                    @if (titleLength > 26)
                    {
                        blogTitle = blogTitle.Substring(0, 27) + "...";
                    }
                    @blogTitle
                </div>
                <div class="date">@String.Format("{0:yyyy.MM.dd}", blog.REG_DT)</div>
            </a>
        }
    </div>
    <a href="/blog" class="more">View More</a>
</div>
<!-- Event -->
<!-- ContWrap -->
<div class="contWrap">
    <!-- 메이커버스를 후원하는 곳 -->
    <div class="mainTitle">
        <h2>메이커버스<span class="sm">와 함께 달려요</span></h2>
    </div>
    <div class="spon">
        <div class="spon01"></div>
        @* <div class="spon02"></div>
        <div class="spon03"></div>*@
    </div>
</div>
<!-- //contWrap -->
