@model Net.Framework.StoreModel.StoreItemDetailT
@{
    ViewBag.Title = "편집 - " + Model.ItemName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="subtitle">
    <h2>상품 업로드</h2>
    @*<a class="upload_guide" href="javascript:void(0);" onclick="upguidePop();">업로드 가이드</a>*@
</div>

<!-- uploadWrap -->
<div class="uploadWrap">
    <form id="insert_form" name="insert_form" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(model => model.No)
        <input type="hidden" id="temp" name="temp" value="@ViewBag.Temp" />
        <input type="hidden" id="main_img" name="main_img" value="@Model.MainImg" />
        <input type="hidden" id="mode" name="mode" value="write">
        <input type="hidden" id="del_no" name="del_no" value="">
        <input type="hidden" id="uploadCnt" name="uploadCnt" value="10">
        <input type="hidden" id="insertVideoSource" name="insertVideoSource" value="@Model.VideoSource"/>

        <!-- File Upload -->
        <div class="uploadFile">

            <!-- 파일 -->
            <div class="modelFile">
                <div class="upBtnZone">
                    <p class="title">이미지 파일</p>
                    <div class="btnAdd" id="drag-and-drop-zone-image">
                        <button class="file_input_button" title="파일추가"></button>
                        <input type="file" class="file_input_hidden" name="imgupload[]" id="imgupload" multiple="multiple" />
                    </div>
                </div>
                <p class="txt">타입 : gif, jpg, png / 최대 사이즈 : 개당 100mb / 권장 해상도 630*470px</p>
            </div>
            <!-- //파일 -->
        </div>
        <!-- //File Upload -->

        <div class="dragImg">
            <div class="mainBoxDrag">
                <div class="imgMain">
                    <img src="@Url.StoreImgFile(Model.MainImgName)" alt="3d파일이미지">
                </div>
            </div>

            <div class="selectImg" id="ajax_upload"></div>

            <div class="btnMores">
                <a href="javascript:void(0);" onclick="Upload.DeleteMore();">삭제 -</a>
                <a href="javascript:void(0);" onclick="Upload.More();">추가 +</a>
            </div>
        </div>
        <!-- //DragImg -->

        <!-- inputUpload -->
        <div class="inputUpload">
            <!-- Left -->
            <div class="left">

                <div class="boxNo1">
                    <p class="headerInput">제목 &amp; 설명</p>
                    <div>
                        <input id="item_name" class="inputTit" type="text" name="item_name" value="@Model.ItemName" placeholder="제목을 입력하세요." />
                    </div>
                    <div class="textArea">
                        <textarea class="input_content" id="item_contents" name="item_contents" placeholder="내용을 입력하세요.">@Model.Contents</textarea>
                        <textarea class="input_tag" id="item_tags" name="item_tags" placeholder="태그를 입력하세요(태그와 태그 사이는 쉽표로 구분).">@Model.Tags</textarea>

                        <div class="btSet">
                            <a href="#" id="aMovie" class="aMovie" title="동영상 첨부"></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Left -->

            <!-- Right -->
            <div class="right">

                <style type="text/css">
                    .base_price {
                        width: 150px;
                        height: 30px;
                        line-height: 30px;
                    }
                </style>
                <p class="headerInput">상품가격</p>
                <div class="select">
                    @Html.EditorFor(model => model.BasePrice, new { htmlAttributes = new { @class="base_price", @Value = Model.BasePrice } })
                    @Html.ValidationMessageFor(model => model.BasePrice)
                </div>
                <p class="headerInput">카테고리</p>
                <div class="select">
                    @Html.DropDownList("category_no")
                </div>
                <p class="headerInput">배송</p>
                <div class="select">
                    @Html.DropDownList("shipping_type")
                </div>
            </div>
            <!-- //Right -->
        </div>
        <!-- //inputUpload -->
    </form>

    <!-- btnZone -->
    <div class="btnZone2">
        <button title="임시 저장" class="btnThumbSave _btn_save" onclick="Upload.TempUpload();"></button>
        <button title="업로드" class="btnUpFile _btn_reg" onclick="Upload.ItemUpload();"></button>
        @*<button title="삭제" class="btnTextDel _btn_del">삭제</button>*@
        <button title="취소" class="btnUpCancel" onclick="Upload.UploadCancle();">취소</button>
    </div>
    <!-- //btnZone -->

    <!--  임시저장확인 팝업 -->
    <div class="popupArea thumbPop">
        <div class="bgArea">
        </div>
        <div class="popBox">
            <div class="contactZone">
                <p class="titleContact">임시저장되었습니다!</p>
                <p class="bt_st1">
                    <button type="button" onclick="Upload.GoArticle()" title="저장된 페이지로 이동하기" id="btnGoArticle">저장된 페이지로 이동하기</button>
                </p>
                <p class="bt_st2">
                    <button type="button" onclick="Upload.GoMain()" title="메인 페이지로 이동하기">메인 페이지로 이동하기</button>
                </p>
            </div>
        </div>
    </div>
    <!-- // 임시저장확인 팝업 -->


    <!--  게시버튼확인 팝업 -->
    <div class="popupArea uploadEnd">
        <div class="bgArea">
        </div>
        <div class="popBox">
            <div class="contactZone">
                <p class="titleContact">게시되었습니다!</p>
                <p class="bt_st1">
                    <button type="button" onclick="Upload.GoArticle()" title="게시된 페이지로 이동하기">게시된 페이지로 이동하기</button>
                </p>
                <p class="bt_st2">
                    <button type="button" onclick="Upload.GoMain()" title="메인 페이지로 이동하기">메인 페이지로 이동하기</button>
                </p>
            </div>
        </div>
    </div>
    <!-- // 게시버튼확인 팝업 -->


    <!--동영상 소스삽입 팝업 -->
    <div class="popupArea videoSource">
        <div class="bgArea" style="opacity: 0.52; height: 100%;">
        </div>
        <div class="popBox3">
            <div class="pop_wrap3">
                <!--창 크기 440(w)x363(h)-->
                <div class="pop_tap_title">
                    <!--[D]현재 메뉴에 클래스 on추가-->
                    <a href="javascript:videoInsertPop()" class="on">동영삽 삽입</a>
                    <a href="javascript:videoLinkPop()">동영상 링크</a>
                </div>
                <div class="pop_txt">
                    <textarea placeholder="소스코드" id="videoSource"></textarea>
                    <div class="pop_desc">
                        설명 영역에 동영상이 바로 보이도록 삽입하기 원하시면, YouTube, vimeo<br>
                        등의 동영상 서비스에서 제공하는 소스코드를 복사 후 붙여 넣으세요.

                    </div>
                </div>
                <a href="#" id="videoPreView" class="pop_btn_left">미리보기</a>
                <a href="#" id="addVideoSource" class="pop_btn">저장하기</a>
                <a href="#" class="pop_close">창 닫기</a>
            </div>
            <div class="movie_view" style="display: none;">
            </div>
        </div>
    </div>
    <!--// 동영상 소스삽입 팝업 -->

    <!-- 동영상 링크 삽입 팝업 -->
    <div class="popupArea videoLink">
        <div class="bgArea" style="opacity: 0.52; height: 100%;">
        </div>
        <div class="popBox3">
            <div class="pop_wrap3">
                <!--창 크기 440(w)x363(h)-->
                <div class="pop_tap_title">
                    <!--[D]현재 메뉴에 클래스 on추가-->
                    <a href="javascript:videoInsertPop()">동영삽 삽입</a>
                    <a href="javascript:videoLinkPop()" class="on">동영상 링크</a>
                </div>
                <div class="pop_txt">
                    <input type="text" id="videoLink" placeholder="URL 입력" />
                    <div class="pop_desc">
                        설명 영역에 동영상 링크를 걸기 원하시면, YouTube, vimeo 등의
                    <br>
                        동영상 서비스에서 해당 동영상의 URL을 복사 후 붙여 넣으세요.
                    </div>
                </div>
                <a href="#" id="addVideoLink" class="pop_btn">저장하기</a>
                <a href="#" class="pop_close">창 닫기</a>
            </div>

        </div>
    </div>
    <!--// 동영상 링크 삽입 팝업 -->


</div>
<!-- //upUpload -->

@section Scripts{
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery-ui-1.11.4.min.js")"></script>
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery.form.min.js")"></script>
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/uploader/dmuploader.min.js")"></script>

    <script type="text/javascript"  src="@Url.VersionedContent("~/Scripts/item/upload.js")"></script>
    <script type="text/javascript">

        function closet() {
            window.onbeforeunload = function (e) {
                e = e || window.event;
                // For IE<8 and Firefox prior to version 4
                if (e) {
                    e.returnValue = '페이지를 벗어나면 저장되지 않은 \n내용은 사라집니다.';
                }

                // For Chrome, Safari, IE8+ and Opera 12+
                return '페이지를 벗어나면 저장되지 않은 \n내용은 사라집니다.';
            };
        }

        function uncloset() {
            window.onbeforeunload = null;
        }

        function closeVideo() {
            $(".movie_view").find('a').remove();
            $(".movie_view").find('iframe').remove();
            $(".movie_view").hide();
            $(".pop_wrap3 .pop_close").show();
        }

        function videoPopupHide() {
            $(".movie_view").css("display", "none");
            $(".movie_view").find('iframe').remove();
            $(".popupArea").hide();
        };

        function videoInsertPop() {
            videoPopupHide();
            $(".popupArea.videoSource").show();
        };

        function videoLinkPop() {
            videoPopupHide();
            $(".popupArea.videoLink").show();
            $(".pop_wrap3 .pop_close").show();
        };

        function delImg(val) {

            var $del_no = $(val).data('val');

            var imgSrc = $(val).siblings('img').attr('src');

            if ($('.mainBoxDrag img').attr('src') == imgSrc || $('#main_img').val() == $del_no) {
                $('#main_img').val('');
                $('.mainBoxDrag .imgMain').empty();
            }

            del_val($del_no);
            function del_val(del_no) {
                var del_input_vals = $("#del_no").val();
                //alert(del_input_vals);
                var vals = new Array();
                if (del_input_vals != "") {
                    vals = del_input_vals.split(',');
                    vals.push(del_no);
                }
                else {
                    del_input_vals = del_no;
                }

                if (vals.length > 1) {
                    del_input_vals = vals.join(',');
                }
                $("#del_no").val(del_input_vals);

                var $form_data = $("#insert_form").serialize();

                var reqUrl = "/Item/UploadFilesView";
                Ajax.SyncGetPartialView(reqUrl, $form_data, "ajax_upload");
                Upload.minusCnt();
            }
        };

        function uploadFileSet() {
            $(".selectImg ul li div").draggable({
                helper: 'clone',
                revert: 'invalid', start: function (event, ui) {
                    var drag_img = $(this).clone();
                    idxImg = $(this);
                }
            });

            // 이미지 파일 draggable &  droppable 
            $('.mainBoxDrag').droppable({
                drop: function (event, ui) {
                    if ($(ui.helper).find('em').hasClass('fileName') == false) {
                        $('.imgMain').empty();
                        $('.imgMain').append($(ui.helper).clone());
                        $('#main_img').val($('.delImg').data('val'));
                        $('._multi:eq(0)').remove();
                    }
                    $('.delImg').hide();
                    $('.showThum').hide();
                }
            });

            $('.selectImg ul li div').droppable({
                drop: function (event, ui) {
                    var beforeCh = $(ui.helper).html();
                    var afterCh = $(this).html();
                    $(this).html(beforeCh);
                    idxImg.html(afterCh);
                    $('.delImg').hide();
                    $('.showThum').hide();
                }
            });

            // 이미지 삭제 버튼 보이기
            $('.selectImg ul li').hover(function () {
                $(this).find('.delImg').show();
                $(this).find('.showThum').show();
            }, function () {
                $(this).find('.delImg').hide();
                $(this).find('.showThum').hide();
            })
        }

        // Upload Plugin itself
        $('#drag-and-drop-zone-image').dmUploader({
            url: '/Item/ImgUpload',
            dataType: 'json',
            allowedTypes: 'image/*',
            /*extFilter: 'jpg;png;gif',*/
            extraData: {
                temp: $("#temp").val(),
                fileIdx: ''
            },
            onInit: function () {
                //console.log('Penguin initialized :)');
            },
            onBeforeUpload: function (id) {
                var arrIdx = new Array();
                var strIdx = '';
                $("input[name='multi[]']").each(function () {
                    var $this = $(this).val();

                    if (typeof ($this) !== undefined) {
                        arrIdx.push($(this).val());
                    }
                });

                if (arrIdx.length > 0) {
                    strIdx = arrIdx.join(',');
                }

                $(this).data('dmUploader').settings.extraData = {
                    temp: $("#temp").val(),
                    fileIdx: strIdx
                };
            },
            onNewFile: function (id, file) {
                console.log('New file added to queue #' + id);
            },
            onComplete: function () {
                console.log('All pending tranfers finished');
                Upload.GetItemFiles();
            },
            onUploadProgress: function (id, percent) {
                var percentStr = percent + '%';

                console.log(id, percentStr);
            },
            onUploadSuccess: function (id, data) {
                console.log('Upload of file #' + id + ' completed');

                console.log('Server Response for file #' + id + ': ' + JSON.stringify(data));
            },
            onUploadError: function (id, message) {
                console.log('Failed to Upload file #' + id + ': ' + message);
            },
            onFileTypeError: function (file) {
                console.log('File \'' + file.name + '\' cannot be added: must be an image');

            },
            onFileSizeError: function (file) {
                console.log('File \'' + file.name + '\' cannot be added: size excess limit');
            },
            /*onFileExtError: function(file){
              $.danidemo.addLog('#demo-debug', 'error', 'File \'' + file.name + '\' has a Not Allowed Extension');
            },*/
            onFallbackMode: function (message) {
                alert('Browser not supported(do something else here!): ' + message);
            }
        });

        $(function () {
            $(".popupArea").hide();
            $(window).unbind('beforeunload');

            var iframe, loadFuc;
            Upload.Init();

            $(".wrap").addClass("bgW");

            Upload.UISelect(".select", ".lst_value", ".pCate", "");
            Upload.UISelect(".select2", ".lst_value2", ".value2", "");

            $(".aMovie").click(function () {
                videoInsertPop();
            });

            $("#addVideoSource").click(function () {
                var text = $("#videoSource").val();
                var char = "";
                var fristIndex = text.indexOf("http");
                char = text.substring(fristIndex - 1, fristIndex);
                text = text.substring(fristIndex);
                fristIndex = text.indexOf(char);
                text = text.substring(0, fristIndex);

                $("#insertVideoSource").val(text);
                videoPopupHide();
            });

            $("#addVideoLink").click(function () {
                var text = $("#videoLink").val();
                if (text.indexOf("<") == -1) {
                    $("#item_contents").val($("#item_contents").val() + "\r\n" + text + "\r\n");
                    $("#videoLink").val("");
                    videoPopupHide();
                }
                else {
                    alert("잘못된 주소입니다");
                }
            });

            $("#videoPreView").click(function () {
                $(".pop_wrap3 .pop_close").hide();
                $(".movie_view").find('a').remove();
                $(".movie_view").find('iframe').remove();
                $(".movie_view").removeAttr("style");
                var text = $("#videoSource").val();
                var char = "";
                var fristIndex = text.indexOf("http");
                char = text.substring(fristIndex - 1, fristIndex);
                text = text.substring(fristIndex);
                fristIndex = text.indexOf(char);
                text = text.substring(0, fristIndex);
                var iframe = '<iframe width="630" height="450" src="' + text + '" frameborder="0" allowfullscreen></iframe> <div class="pop_wrap_view"><a href="javascript:closeVideo()" class="pop_close">창 닫기</a></div>';
                $(".movie_view").append(iframe);
            });

            $(".pop_close").click(function (e) {
                videoPopupHide();
            });

        });
    </script>
}