@model PagedList.IPagedList<Makersn.Models.ArticleT>
@using PagedList.Mvc;
@{
    int index = 1;
}

<ul class="item_area">
    @foreach (Makersn.Models.ArticleT a in Model)
    {
        string className = index % 4 == 0 ? "class=mgR0" : "";
        string likeChk = a.chkLikes == 1 ? "class=on" : "";
        string No = Base64Helper.Base64Encode(@a.MemberNo.ToString());
            
        <li @className>
            <!-- ProductBox -->
            <div class="productBox">
                <div class="productImg">
                    <a href="/design/Detail/@a.No">
                        <img src="@ViewBag.ArticleImgUrl@a.ImageName" alt="@a.MainImage" /></a>
                </div>
                <div class="detailBox">
                    <div class="productText">
                        <a href="/design/Detail/@a.No">@a.Title</a>
                    </div>
                    <div class="by">
                        <p>by <span class="name"><a href="/Profile?no=@No">@a.MemberName</a></span></p>
                    </div>
                    <ul class="countBox">
                        <li class="show"><a href="javascript:void(0);"><span>@a.ViewCnt</span></a></li>

                        <li class="heart"><a href="javascript:SetLikes('@a.No','@ViewBag.LogOnChk')" onclick="return !count++">
                            <span @likeChk id="likeChk_@a.No">@a.LikeCnt</span></a></li>
                        <li class="comment"><a href="javascript:void(0);"><span>@a.CommentCnt</span></a></li>
                    </ul>
                </div>
            </div>
        </li>
        index++;
    }
</ul>

@Html.PagedListPager(Model, page => Url.Action("", new { no = ViewBag.No, page, gubun = ViewBag.Gubun }))
