@using PagedList.Mvc;
@model PagedList.IPagedList<Makersn.Models.NoticeT>
@{
    ViewBag.Title = "Notice";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
    string profilePic = string.Empty;
    
}

@*@{Html.RenderAction("TopArea", "Profile", new { no = ViewBag.No });}*@



<!-- notice -->
<div class="profCont">
    <div class="noticeList">

        <ul style="height: auto">

            @foreach (Makersn.Models.NoticeT n in Model)
            {
                string No = Design.Web.Front.Helper.Base64Helper.Base64Encode(n.MemberNo.ToString());
                //n.MemberProfilePic = n.MemberProfilePic == null ? "/Content/images/profile_photo.jpg" : n.MemberProfilePic;
                if (string.IsNullOrEmpty(n.MemberProfilePic))
                {
                    profilePic = "/Content/images/common/profile_photo2.png";
                }
                else
                {
                    profilePic = ViewBag.ProfileImgUrl + n.MemberProfilePic;
                }
                <li class="noticeBox">
                    <a href="javascript:void(0);" title="해당페이지 이동"></a>

                    <p class="photo">
                        <a href="/Profile?no=@No">
                            <img src="@profilePic" alt="프로필사진" /></a>
                    </p>
                    @*  @if (n.Type == "notice")
                        {
                            <span class="text">
                                <a href="/Profile?no=@No">[@n.MemberName] </a>메시지:
								@n.Comment</span>
                            <span class="date">@n.RegDt</span>
                        }*@
                    @switch (n.Type)
                    {
                        case "notice":
                        <p class="text">
                            <a href="/Profile?no=@No"><span class="boldF">[@n.MemberName] </span></a>메시지:
								@n.Comment
                        </p>
                        <span class="date">@n.RegDt.ToString("yyyy.MM.dd HH:MM")</span>
                            break;

                        case "like":
                        <p class="text">
                            <a href="/Profile?no=@No"><span class="boldF">@n.MemberName</span></a>님이 <span class="boldF"><a href="/design/Detail/@n.RefNo">[@n.ArticleTItle]</a></span> 을 좋아합니다.
                        </p>

                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:MM")</p>
                            break;

                        case "comment":
                        <p class="text">
                            <a href="/Profile?no=@No"><span class="boldF">[@n.MemberName]</span></a>님이 <span class="boldF"><a href="/design/Detail/@n.RefNo">[@n.ArticleTItle]</a></span> 에 댓글을 남겼습니다.
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:MM")</p>
                            break;

                        case "inComment":
                        <p class="text">
                            <a href="/Profile?no=@No"><span class="boldF">[@n.MemberName]</span></a>님이 <span class="boldF"><a href="/design/Detail/@n.RefNo">[@n.ArticleTItle]</a></span>의 내 댓글에 답글을 남겼습니다.
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:MM")</p>
                            break;

                        case "newArticle":
                        <p class="text">
                            <a href="/Profile?no=@No"><span class="boldF">[@n.MemberName]</span></a>님이 <a href="/design/Detail/@n.RefNo">새 게시물을 업로드 했습니다.</a>
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:MM")</p>
                            break;

                        case "newFollower":
                        <p class="text">
                            <a href="/Profile?no=@No"><span class="boldF">[@n.MemberName]</span></a>님이 회원님을 팔로우 했습니다.
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;
                        case "outputImage":
                        
                        <p class="text">
                            <a href="/printingprofile?memberNo=@No"><span class="boldF">@n.MemberName</span></a>로부터 
                            <a href="/order/myorder"><span class="boldF">출력 완료</span></a> 알림이 왔습니다. 
                            <a href="/order/myorder"><span class="boldF">내 주문</span>에서 인증샷을 확인해 보세요.</a>
                        </p>
@*<p class="thum">
                            @foreach (PrinterOutputImageT output in n.OutputImageList)
                            {
                                <a href="#" onclick="ShowImage(this)">
                                    <img src="@ViewBag.PrintImgUrl@output.ImageReName" width="48px" height="36px">
                                </a>
                            }

                        </p>*@
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;
                        case "posted":
                        <p class="text">
                            @n.Comment
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;
                        case "paymentFinished":
                        <p class="text">
                            <a href="/profile?no=@No"><span class="boldF">@n.MemberName</span></a>로부터 
                            <a href="/order/MngHome"><span class="boldF">새로운 주문이 </span></a>들어왔습니다. 
                            <a href="/order/MngHome"><span class="boldF">주문 관리</span>에서 확인해 보세요.</a>
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;
                        case "postReq":
                        <p class="text">
                            <a href="/profile?no=@No"><span class="boldF">@n.MemberName</span></a>로부터 
                            <a href="/order/MngHome"><span class="boldF">배송요청이 </span></a>들어왔습니다. 
                            <a href="/order/MngHome"><span class="boldF">주문 관리</span>에서 확인해 보세요.</a>
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;

                        case "pickupReq":
                        <p class="text">
                            <a href="/profile?no=@No"><span class="boldF">@n.MemberName</span></a>고객께서  
                            <a href="/order/MngHome"><span class="boldF">픽업 요청을 </span></a>하였습니다. 
                            <a href="/order/MngHome"><span class="boldF">주문 관리</span>에서 확인해 보세요.</a>
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;


                        case "orderReqAccept":
                        <p class="text">
                            <a href="/printingprofile?memberNo=@No"><span class="boldF">@n.MemberName</span></a>고객께서  
                            <a href="/order/myorder"><span class="boldF">주문요청을 </span></a>수락 하였습니다. 
                            <a href="/order/myorder"><span class="boldF">내 주문 </span>에서 확인해 보세요.</a>
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;

                        case "orderReqReject":
                        <p class="text">
                            <a href="/printingprofile?memberNo=@No"><span class="boldF">@n.MemberName</span></a>고객께서  
                            <a href="/order/myorder"><span class="boldF">주문요청을 </span></a>거부 하였습니다. 
                            <a href="/order/myorder"><span class="boldF">내 주문 </span>에서 확인해 보세요.</a>
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;
                        case "timeover":
                        <p class="text">
                            주문 수락 시간이 초과되어 자동 취소 되었습니다.
                            <a href="/order/myorder"><span class="boldF">내 주문 </span>에서 확인해 보세요.</a>
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;
                        case "timeover_spot":
                        <p class="text">
                            @n.MemberName 고객의 주문이 시간초과로 자동 취소되었습니다.
                        </p>
                        <p class="date">@n.RegDt.ToString("yyyy.MM.dd HH:mm")</p>
                            break;

                        case "AllNotice":
                        <p class="text" style="line-height: 20px">
                            <a href="/Profile?no=@No"><span class="boldF">[@n.MemberName] </span></a>
                            <br />
                            @Html.Raw(new Design.Web.Front.Filter.ContentFilter().HtmlEncode(n.Comment.Substring(0, n.Comment.IndexOf("내용:"))))
                            <br />
                            @Html.Raw(new Design.Web.Front.Filter.ContentFilter().HtmlEncode(n.Comment.Substring(n.Comment.IndexOf("내용:"))))
                        </p>
                        <span class="date">@n.RegDt.ToString("yyyy.MM.dd HH:MM")</span>
                            break;

                    }
                </li>
            }
        </ul>

        @* <!-- 페이징 -->
        <div class="paging pdB35">
            <a href="#">
                <img src="content/images/common/btn/btn_first.gif" alt="처음 페이지" /></a>
            <a href="#">
                <img src="content/images/common/btn/btn_prev.gif" alt="이전 페이지" /></a>
            <span class="number">
                <a href="#" class="on">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
            </span>
            <a href="#">
                <img src="content/images/common/btn/btn_next.gif" alt="다음 페이지" /></a>
            <a href="#">
                <img src="content/images/common/btn/btn_last.gif" alt="마지막 페이지" /></a>
        </div>
        <!-- //페이징 -->*@

    </div>

</div>
<!-- //notice -->



@*@Html.PagedListPager((PagedList.IPagedList)Model,
        //page => Url.Action("Notice", new {   no = ViewBag.No, page, gubun = ViewBag.Gubun }), 
            page => ("/Profile/Notice?page=" + page + "&no=" + ViewBag.No + "&gubun=" + ViewBag.Gubun),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast,
            new AjaxOptions
            {
                HttpMethod = "POST",
                UpdateTargetId = "partial-part",
                OnSuccess = "$('.back-to-top').trigger('click');"
            })
        )*@

@Html.PagedListPager((PagedList.IPagedList)Model,
    page => ("/Profile/Notice?page=" + page + "&no=" + ViewBag.No + "&gubun=" + ViewBag.Gubun),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.ClassicPlusFirstAndLast,
    new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "partial-part",
        OnSuccess = "$('.back-to-top').trigger('click');"
    })
)

<script type="text/javascript">
    var nowAtag = "";
    function ShowImage(val) {
        nowAtag = val;
        var src = $(val).find('img').attr('src');
        $(".popupArea.thumb").show();
        $(".pop_thumnail").css("background", 'url(' + src + ') no-repeat');
        $(".pop_thumnail").css("background-size", '100%');

        //$(".thum_left").attr('data-img', $(val).before().find('img').attr('src'));
        //$(".thum_right").attr('data-img', $(val).next().find('img').attr('src'));
    }

    $(document).ready(function () {
        $(".thum_right").click(function () {
            console.log($(this));
            if ($(nowAtag).next().length != 0) {
                nowAtag = $(nowAtag).next();
                ShowImage(nowAtag);
            }

        })
        $(".thum_left").click(function () {
            console.log($(this));
            if ($(nowAtag).prev().length != 0) {
                nowAtag = $(nowAtag).prev();
                ShowImage(nowAtag);
            }
        })

        if (!parseInt("@ViewBag.MessageCnt") > 0) {
            $(".printing_btn .new").remove();
        }
    })
</script>
