@model IList<Makersn.Models.MessageT>
@using Design.Web.Front.Filter
@{
    string date = "";

    string profilePic = string.Empty;

    int index = 0;
    int count = Model.Count;
}
<div class="message">
    <div class="messageQ">
        <p class="tit"><span class="boldF">@ViewBag.Name</span>님과의 메세지</p>
        <ul class="msgWrap">
            <!-- message 1day -->
            <li>

                @foreach (Makersn.Models.MessageT message in Model)
                {
                    if (string.IsNullOrEmpty(message.ProfilePic))
                    {
                        profilePic = "/Content/images/common/profile_photo2.png";
                    }
                    else
                    {
                        profilePic = ViewBag.ProfileImgUrl + message.ProfilePic;
                    }

                    if (date != message.RegDt.ToString("yyyy.MM.dd"))
                    {
                    <p class="date">@message.RegDt.ToString("yyyy.MM.dd")</p>
                        date = message.RegDt.ToString("yyyy.MM.dd");
                    }
                    <ul>


                        <li class="messageBoxR">
                            <p class="photo">
                                <a href="/Profile?no=@Base64Helper.Base64Encode(message.MemberNo.ToString())">
                                    <img alt="프로필사진" src="@profilePic"></a>
                            </p>
                            <div class="flL">
                                <p class="name">
                                    <a href="/Profile?no=@Base64Helper.Base64Encode(message.MemberNo.ToString())" class="boldF">@message.MemberName</a>
                                </p>

                                @if (index + 1 < count)
                                {
                                    if (Model[index].RegDt.ToString("yyyy.MM.dd tt hh:mm") != Model[index + 1].RegDt.ToString("yyyy.MM.dd tt hh:mm"))
                                    {
                                    <p style="display: inline; float: right; color:gray; font-size: x-small">@message.RegDt.ToString("yyyy.MM.dd tt hh:mm", new System.Globalization.CultureInfo("en-US"))</p>
                                    }
                                }
                                else
                                {
                                    <p style="display: inline; float: right; color:gray; font-size: x-small">@message.RegDt.ToString("yyyy.MM.dd tt hh:mm", new System.Globalization.CultureInfo("en-US"))</p>
                                }

                                @if (message.MsgGubun == "MSG")
                                {
                                    <p class="txt">@Html.Raw(new ContentFilter().HtmlEncode(message.Comment))</p>
                                }
                                else
                                {
                                    <p class="txt" style="word-break: break-all;">
                                        <img src="@ViewBag.MsgImgThumb@message.Comment" onclick="javascript:imgPopup('@message.Comment')" />
                                    </p>
                                }
                            </div>
                        </li>

                    </ul>
                    index++;
                }
            </li>

        </ul>
        <div class="textArea">
            <form id="msg_file_form" name="msg_file_form" method="post" enctype="multipart/form-data">
                <textarea class="txt" id="txtMessage" name="txtMessage" placeholder="답장쓰기 (Shift + Enter 줄바꿈)"></textarea>
                @*  <div class="btSet">
        <a href="#" class="aFile" title="파일 첨부"></a>
        <a href="#" class="aImg" title="이미지 첨부"></a>
    </div>*@
                <div class="btSet">
                    <a href="javascript:sendImg()" class="aImg" title="이미지 첨부"></a>
                    <div style="display: none">
                        <input type="file" class="aImg" name="imgupload" id="messageFile" title="이미지 첨부" />
                        <input type="hidden" name="test" value="1" />
                    </div>
                    <span style="font-size:small;cursor:pointer" onclick="SendMessage()">전송</span>
                </div>
            </form>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $("#txtMessage").focus();
    })

    $('#txtMessage').keyup(function (event) {
        if (event.keyCode == 13 && !event.shiftKey) {
            if ($("#txtMessage").val().trim() != "") {
                SendMessage();
            }
        }
    });

    $("#messageFile").on("change", function (e) {
        e.preventDefault();
        sendFile("/Profile/sendImage");
    });

    function sendImg() {
        $("#messageFile").trigger('click');
    }

</script>


<script type="text/javascript">
    $(".msgWrap").scrollTop($(".msgWrap")[0].scrollHeight);

    function imgPopup(imgName) {
        window.open("@ViewBag.MsgImgOri" + imgName);
    }
</script>
