@using Net.Framework.StoreModel;
@{
    
    ViewBag.Title = "StoreMemberRegister";

    IList<StoreMemberT> _StoreMemberList = ViewBag.StoreMemberList;
}



<form id="insert_form" method="post" enctype="multipart/form-data">
    <input type="text" name="memberNo" id="memberNo" value="1" />맴버no 
    <br />
    <input type="text" name="StoreName" id="StoreName" value="1" />스토어명 
    <br />
    <input type="text" name="TelNo" id="TelNo" value="1" />전화 번호
    <br />
    <input type="text" name="CellPhone" id="CellPhone" value="1" />휴대폰번호
    
    <input type="text" name="StoreProfileMsg" id="StoreProfileMsg" value="1" />스토어프로필 메시지
    <br />
    <input type="text" name="StoreUrl" id="StoreUrl" value="1" />스토어 url  
    <br />
    <input type="text" name="bankName" id="bankName" value="1" />은행이름 
    <br />
    <input type="text" name="bankUserName" id="bankUserName" value="1" />예금주 이름
    <br />
    <input type="text" name="bankAccount" id="bankAccount" value="1" />계좌번호
    <br />
    <input type="text" name="delYn" id="delYn" value="1" />스토어 페지여부
    <br />
    <input type="text" name="regId" id="regId" value="1" />생성자
    <br />
    <input type="text" name="UpdId" id="UpdId" />
    스토어업데이트 아이디
    <br />
    <input type="button" onclick="RegisterStoreMember()" name="생성" value="생성" />
</form>

@{
    foreach (StoreMemberT storeMember in _StoreMemberList)
    {
    <form id="MemberList_@storeMember.No" method="post" enctype="multipart/form-data">
        맴버no        
        <input type="text"     name="memberNo"          value="@storeMember.MemberNo">
        스토어명                         
        <input type="text"    name="StoreName"            value="@storeMember.StoreName">
        전화 번호                        
        <input type="text"  name="TelNo"              value="@storeMember.OfficePhone"/>
        휴대폰번호                       
        <input type="text"    name="CellPhone"           value="@storeMember.CellPhone"/>
        스토어프로필메시지               
        <input type="text"   name="StoreProfileMsg"            value="@storeMember.StoreProfileMsg"/>
        스토어 url                       
        <input type="text"    name="StoreUrl"           value="@storeMember.StoreUrl"/>
        은해이름                       
        <input type="text"    name="bankName"            value="@storeMember.BankName"/>
        예금주 이름                         
        <input type="text"     name="bankUserName"          value="@storeMember.BankUserName"/>
        스토어 페지여부                  
        <input type="text"   name="delYn"           value="@storeMember.DelYn"/>

        <input type="hidden" name="no" value="@storeMember.No" />

        <input type="button" value="수정" onclick="StoreMemberEdit("@storeMember.No")" />
        <input type="button" value="삭제" onclick="StoreMemberDelete("@storeMember.No")" />
        @if (ViewBag.userNo != 0)
        {
            <input type="button" value="팔러우하기" onclick="Following("@storeMember.MemberNo")" />       
        }

    </form>   
    }    
}

<script>
    function RegisterStoreMember() {
        var options = {
            beforeSend: function () {
            },
            success: function (response) {
                if (response.Success) {
                    alert("가입 되었습니다." + response.Success);
                    var action = "/Store/StoreMemberRegister";
                    $(location).attr("href", action);
                }
                else {
                    alert("response.Message" + response.Message);
                }
            },
            complete: function (response) {
            },
            error: function (error) {
                alert("error" + error.Message)
            }
        };
        $('#insert_form').attr("action", "/Store/RegisterStoreMember").ajaxForm(options).submit();
       
    }

    function StoreMemberEdit(no){
        var options = {
            beforeSend: function () {
            },
            success: function (response) {
                if (response.Success) {
                    alert("수정 되었습니다." + response.Success);
                    var action = "/Store/StoreMemberRegister";
                    $(location).attr("href", action);
                }
                else {
                    alert("response.Message" + response.Message);
                }
            },
            complete: function (response) {
            },
            error: function (error) {
                alert("error" + error.Message)
            }
        };
        
        $('#MemberList_'+ no).attr("action", "/Store/UpdateStoreMember").ajaxForm(options).submit();   
    }

    function StoreMemberDelete(no){
        alert(no);
        var onSuccess = function(result){
            alert("삭제 되었습니다." + response.Success);
            var action = "/Store/DeleteStoreMember";
            $(location).attr("href", action);
        }
        Ajax.AjaxResponseModelService(this, "/Store/DeleteStoreMember", { memberno : no }, onSuccess);
    }

    function Following(Storeno){
        alert(Storeno);
        var onSuccess = function(result){
            alert("팔러우 되었습니다." + response.Success);
            var action = "/Store/FollowingStore";
            $(location).attr("href", action);
        }
        Ajax.AjaxResponseModelService(this, "/Store/FollowingStore", { StoreMemberNo : Storeno }, onSuccess);
    }
    function NotFollowing(){
        alert(Storeno);
        var onSuccess = function(result){
            alert("팔러우 취소 되었습니다." + response.Success);
            var action = "/Store/NotFollowingStore";
            $(location).attr("href", action);
        }
        Ajax.AjaxResponseModelService(this, "/Store/NotFollowingStore", { StoreMemberNo : Storeno }, onSuccess);
    }

</script>





