@model List<Net.Framework.StoreModel.StoreNoticeT>
@{
    ViewBag.Title = "ListNotice";
}
<script>
    function deleteListNotice(no) {
        var onSuccess = function (result) {
            if (result.Success) { alert(result.Message); }
        }
        Ajax.AjaxResponseModelService(this, "common/DeleteListNotice", { no: no }, onSuccess);
    }

    function viewNotice(no){
        var onSuccess = function (result) {
            if (result.Success) { alert(result.Message); }
        }
        Ajax.AjaxResponseModelService(this, "common/ViewNotice", { no: no }, onSuccess);
    }
    </script>
    @foreach (Net.Framework.StoreModel.StoreNoticeT _model in Model)
    {
        if (_model.IsNewYn == "Y"){
            <span style="color:red">@_model.No - 확인하지 않은 알림 :  상품번호 @_model.ProductNo 에서 @_model.Type 타입의 알림이 @_model.MemberNo 에게 @_model.MemberNoRef 로부터 있습니다. 내용 : @_model.Content</span>
            <input type="button" value="확인" onclick="viewNotice(@_model.No)"/> 
        }else{
            <span>@_model.No - 상품번호 @_model.ProductNo 에서 @_model.Type 타입의 알림이 @_model.MemberNo 에게 @_model.MemberNoRef 로부터 있습니다. 내용 : @_model.Content</span>
        
        }
        <input type="button" value="삭제" onclick="deleteListNotice(@_model.No)"/> <br/>
    }