@model PagedList.IPagedList<StorePrinterT>
@using PagedList.Mvc;
@{
    ViewBag.Title = "PrinterList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contents_zone">
    <h2 class="contents_title">프린터업체의 프린터 리스트</h2>
    <!-- list_search_zone -->
    <form id="search" name="search">
        <table class="tbstyle01" summary="검색 테이블" style="margin-bottom: 10px;">
            <colgroup>
                <col width="100px" />
                <col width="auto" />
            </colgroup>
            <caption>게시판</caption>
            <tbody>
                <tr>
                    <th scope="row">검색</th>
                    <td>
                        @*<select id="sfl" name="sfl" style="width: 130px">
                            <option value="title">제목</option>
                        </select>*@
                        <input type="text" id="query" name="query" class="input_text" style="width: 200px; padding: 1px 0" value="@ViewData["query"]" />
                        <span class="btnWrap small"><a href="javascript:void(0);" class="_search_btn" id="search_btn">검색</a></span>
                        <span class="btnWrap small" style="margin-left: 10px;"><a href="javascript:void(0);" class="_reset" onclick="$('#query').val('');">재설정</a></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </form>
    <!-- //list_search_zone -->

    <div class="right_float_wrap">
        <div class="left"><strong>@ViewData["cnt"]</strong> 의 리스트</div>
    </div>

    <div class="btn_right">
        <span class="btnWrap medium"><a href="/Store/PrinterInsert" class="_btn_write">등록</a></span>
    </div>

    <table cellpadding="0" cellspacing="0" border="0" class="tbl_style" summary="">
        <caption>리스트 게시판</caption>
        <colgroup>
            <col width="8%" />
            <col width="20%" />
            <col width="15%" />
            <col width="15%" />
            <col width="15%" />
            <col width="*" />
        </colgroup>
        <thead>
            <tr>
                <th>제품번호</th>
                <th>프린터명</th>
                <th>x size</th>
                <th>y size</th>
                <th>z size</th>
                <th>프린터 업체</th>
            </tr>
        </thead>
        <tbody>
            @if ((int)ViewData["cnt"] > 0)
            {
                foreach (var p in Model)
                {
                <tr>
                    <td>@p.NO</td>
                   @* <td>
                        <p class="memb_img">
                            <a href="javascript:Banner.GoEdit(@p.No)" class="_btn_edit" id="img">
                                <img src="@Url.Content(ViewBag.BannerUrl+"thumb/"+ b.Image)" /></a>
                        <p>
                    </td>*@
                    @*<td class="ta_left"><a href="javascript:Banner.GoEdit(@p.No)" class="_btn_edit" id="title">@p.PrinterName</a></td>*@
                    <td>@p.NAME</td>
                    <td>@p.SIZE_X</td>
                    <td>@p.SIZE_Y</td>
                    <td>@p.SIZE_Z</td>
                    <td>@p.PRINTING_COMPANY_NO</td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" style="height: 200px; text-align: center; vertical-align: middle;"> 제품이 없습니다.</td>
                </tr>	
            }
        </tbody>
    </table>
    <!-- page_navi -->
    <div class="page_navi">
        @Html.PagedListPager(Model, page => Url.Action("/", new { page }))
    </div>
    <!-- // page_navi -->


</div>




@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#search_btn").click(function () {
                var gubun = $("#certificateType").val();
                var query = $("#query").val();
                location.replace("/Store/PrinterList?query=" + query);
            });
        });



    </script>
}