@using Net.Framework.StoreModel
@model List<StoreShippingAddrT>

@if(Model.Count > 0)
{
<table style="border:solid 1px green;" border="1">
    <tr>
        <td>선택</td>
        <td>주소지명</td>
        <td>도로명주소</td>
        <td>지번주소</td>
        <td>우편번호</td>
    </tr>

    @{string chkType = "";}

    @foreach (StoreShippingAddrT item in Model)
    {
        if (item.DefaultYn == "Y")
        {
            chkType = "checked"; 
        }
        <tr>
            <td><input type="checkbox" name="chkShippingAddr" /></td>
            <td>@item.ShippingName</td>
            <td>@item.Addr1 @item.AddrDetail</td>
            <td>@item.Addr2 @item.AddrDetail</td>
            <td>@item.PostNo</td>
        </tr> 
    }

</table>
}