@{
    ViewBag.Title = "메이커스앤";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int recommendIndex = 1;
    int popularIndex = 1;
    int newArticleIndex = 1;

    int comIndex = 1;
}

@section head{
    <meta property="og:title" content="makersN" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.makersn.com" />
    <meta property="og:image" content="http://www.makersn.com/content/images/common/makers_logo.png" />

    <meta property="og:image:width" content="200" />
    <meta property="og:description" content="메이커스앤은 메이커들의 플랫폼이에요. 원하는 3D 모델을 찾고, 만들고, 나눌 수 있어요. 메이커스앤을 통해 당신의 상상을 현실로 만들어보세요!" />
    <meta property="og:article:author" content="MakersN" />
    <meta property="og:site_name" content="makersN" />
}

@section designMian{
    <!-- MainSlide -->
    <div class="unslider-carousel has-dots">
        @Html.Action("GetMainBanner","Main", null)
    </div>
    <!-- //MainSlide -->

}


<!-- 컨테스트 디자인 -->
<div class="mainTitle">
    <h2>컨테스트</h2>
    <p>
        <a href="/design?codeNo=10203">더보기 +</a>
    </p>
</div>

<!-- BaseList -->
<div class="baseList">
    <ul class="item_area">
        @foreach (Makersn.Models.ArticleDetailT recommened in ViewBag.ComList)
        {
            string className = comIndex % 4 == 0 ? "class=mgR0" : "";
            string likeChk = recommened.IsLikes == 1 ? "class=on" : "";
            string No = Base64Helper.Base64Encode(recommened.MemberNo.ToString());
            <li @className>
                <!-- ProductBox -->
                <div class="productBox">
                    <div class="productImg">
                        <a href="/design/Detail/@recommened.No">
                            <img src="@ViewBag.ArticleImgUrl@recommened.MainImgName" alt="@recommened.Title" /></a>
                    </div>
                    <div class="detailBox">
                        <div class="productText">
                            <a href="/design/Detail/@recommened.No">@recommened.Title </a>
                        </div>
                        <div class="by">
                            <p>by <span class="name"><a href="/Profile?no=@No">@recommened.MemberName</a></span></p>
                        </div>
                        <ul class="countBox">
                            <li class="show" title="조회수"><a href="/design/Detail/@recommened.No"><span>@recommened.ViewCnt</span></a></li>

                            <li class="heart" title="좋아요"><a href="javascript:SetLikes('@recommened.No','@ViewBag.LogOnChk')" onclick="return !count++">
                                <span @likeChk id="likeChk_@recommened.No">@recommened.LikeCnt</span></a></li>
                            <li class="comment" title="댓글"><a href="/design/Detail?no=@recommened.No&goReply=Y"><span>@recommened.CommentCnt</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- //ProductBox -->
            </li>
            comIndex++;
        }
    </ul>
</div>
<!-- //BaseList -->
<!-- //컨테스트 디자인 -->



<!-- 추천 디자인 -->
<div class="mainTitle">
    <h2>추천 디자인</h2>
    <p>
        <a href="/design?pageGubun=R">더보기 +</a>
    </p>
</div>

<!-- BaseList -->
<div class="baseList">
    <ul class="item_area">
        @foreach (Makersn.Models.ArticleDetailT recommened in ViewBag.RecommendList)
        {
            string className = recommendIndex % 4 == 0 ? "class=mgR0" : "";
            string likeChk = recommened.IsLikes == 1 ? "class=on" : "";
            string No = Base64Helper.Base64Encode(recommened.MemberNo.ToString());
            <li @className>
                <!-- ProductBox -->
                <div class="productBox">
                    <div class="productImg">
                        <a href="/design/Detail/@recommened.No">
                            <img src="@ViewBag.ArticleImgUrl@recommened.MainImgName" alt="@recommened.Title" /></a>
                    </div>
                    <div class="detailBox">
                        <div class="productText">
                            <a href="/design/Detail/@recommened.No">@recommened.Title </a>
                        </div>
                        <div class="by">
                            <p>by <span class="name"><a href="/Profile?no=@No">@recommened.MemberName</a></span></p>
                        </div>
                        <ul class="countBox">
                            <li class="show" title="조회수"><a href="/design/Detail/@recommened.No"><span>@recommened.ViewCnt</span></a></li>

                            <li class="heart" title="좋아요"><a href="javascript:SetLikes('@recommened.No','@ViewBag.LogOnChk')" onclick="return !count++">
                                <span @likeChk id="likeChk_@recommened.No">@recommened.LikeCnt</span></a></li>
                            <li class="comment" title="댓글"><a href="/design/Detail?no=@recommened.No&goReply=Y"><span>@recommened.CommentCnt</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- //ProductBox -->
            </li>
            recommendIndex++;
        }
    </ul>
</div>
<!-- //BaseList -->
<!-- //추천 디자인 -->

<!-- 인기 디자인 -->
<div class="mainTitle">
    <h2>인기 디자인</h2>
    <p>
        <a href="/design?pageGubun=P">더보기 +</a>
    </p>
</div>

<!-- BaseList -->
<div class="baseList">
    <ul class="item_area">
        @foreach (Makersn.Models.ArticleDetailT popular in ViewBag.PopularList)
        {
            string className = popularIndex % 4 == 0 ? "class=mgR0" : "";
            string likeChk = popular.IsLikes == 1 ? "class=on" : "";
            string No = Base64Helper.Base64Encode(popular.MemberNo.ToString());
            <li @className>
                <!-- ProductBox -->
                <div class="productBox">
                    <div class="productImg">
                        <a href="/design/Detail/@popular.No">
                            <img src="@ViewBag.ArticleImgUrl@popular.MainImgName" alt="@popular.Title" /></a>
                    </div>
                    <div class="detailBox">
                        <div class="productText">
                            <a href="/design/Detail/@popular.No">@popular.Title </a>
                        </div>
                        <div class="by">
                            <p>by <span class="name"><a href="/Profile?no=@No">@popular.MemberName</a></span></p>
                        </div>
                        <ul class="countBox">
                            <li class="show" title="조회수"><a href="/design/Detail/@popular.No"><span>@popular.ViewCnt</span></a></li>

                            <li class="heart" title="좋아요"><a href="javascript:SetLikes('@popular.No','@ViewBag.LogOnChk')" onclick="return !count++">
                                <span @likeChk id="likeChk_@popular.No">@popular.LikeCnt</span></a></li>
                            <li class="comment" title="댓글"><a href="/design/Detail?no=@popular.No&goReply=Y"><span>@popular.CommentCnt</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- //ProductBox -->
            </li>
            popularIndex++;
        }
    </ul>
</div>
<!-- //BaseList -->
<!-- //인기 디자인 -->

<!-- 신규 디자인 -->
<div class="mainTitle">
    <h2>신규 디자인</h2>
    <p>
        <a href="/design?pageGubun=N">더보기 +</a>
    </p>
</div>

<!-- BaseList -->
<div class="baseList">
    <ul class="item_area">
        @foreach (Makersn.Models.ArticleDetailT newArticle in ViewBag.NewList)
        {
            string className = newArticleIndex % 4 == 0 ? "class=mgR0" : "";
            string likeChk = newArticle.IsLikes == 1 ? "class=on" : "";
            string No = Base64Helper.Base64Encode(newArticle.MemberNo.ToString());
            <li @className>
                <!-- ProductBox -->
                <div class="productBox">
                    <div class="productImg">
                        <a href="/design/Detail/@newArticle.No">
                            <img src="@ViewBag.ArticleImgUrl@newArticle.MainImgName" alt="@newArticle.Title" /></a>
                    </div>
                    <div class="detailBox">
                        <div class="productText">
                            <a href="/design/Detail/@newArticle.No">@newArticle.Title </a>
                        </div>
                        <div class="by">
                            <p>by <span class="name"><a href="/Profile?no=@No">@newArticle.MemberName</a></span></p>
                        </div>
                        <ul class="countBox">
                            <li class="show" title="조회수"><a href="/design/Detail/@newArticle.No"><span>@newArticle.ViewCnt</span></a></li>

                            <li class="heart" title="좋아요"><a href="javascript:SetLikes('@newArticle.No','@ViewBag.LogOnChk')" onclick="return !count++">
                                <span @likeChk id="likeChk_@newArticle.No">@newArticle.LikeCnt</span></a></li>
                            <li class="comment" title="댓글"><a href="/design/Detail?no=@newArticle.No&goReply=Y"><span>@newArticle.CommentCnt</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- //ProductBox -->
            </li>
            if (newArticleIndex == 4) { break; }
            newArticleIndex++;
        }
    </ul>
</div>
<!-- //BaseList -->
<!-- //신규 디자인 -->

@section Scripts{
    <script type="text/javascript">
        function index() { };

        index.GoBannerPage = function (link, opener) {
            if (opener == 'n') { location.href = link; }
            else {
                var newWindow = window.open("about:blank");
                newWindow.location.href = link;
            }
        }
    </script>
    <script src="@Url.VersionedContent("~/Scripts/shared.jquery.js")"></script>
}

