@using Net.Framework.StoreModel
@model OrderMaster
@{
    ViewBag.Title = "주문상세";
    OrderMaster m = new OrderMaster();
    m.OrderInfoList = Model.OrderInfoList;
}
@section Scripts{
<!-------------------------------------------------------------------------------                                        

* 웹SITE 가 https를 이용하면 https://plugin.inicis.com/pay61_secunissl_cross.js 사용 

* 웹SITE 가 Unicode(UTF-8)를 이용하면 http://plugin.inicis.com/pay61_secuni_cross.js 사용

* 웹SITE 가 https, unicode를 이용하면 https://plugin.inicis.com/pay61_secunissl_cross.js 사용  

-------------------------------------------------------------------------------->

<script type="text/javascript" src="http://plugin.inicis.com/pay61_secuni_cross.js"></script>
<script type="text/javascript" >
    StartSmartUpdate();

    var openwin;
	
    function pay(frm){
	    // MakePayMessage()를 호출함으로써 플러그인이 화면에 나타나며, Hidden Field
	    // 에 값들이 채워지게 됩니다. 일반적인 경우, 플러그인은 결제처리를 직접하는 것이
	    // 아니라, 중요한 정보를 암호화 하여 Hidden Field의 값들을 채우고 종료하며,
	    // 다음 페이지인 INIsecurepay.asp로 데이터가 포스트 되어 결제 처리됨을 유의하시기 바랍니다.
	    if(document.ini.clickcontrol.value == "enable"){

		    if(document.ini.goodname.value == "")  // 필수항목 체크 (상품명, 상품가격)
		    {
			    alert("상품명이 빠졌습니다. 필수항목입니다.");
			    return false;
		    }
		    else if(ini_IsInstalledPlugin() == false)
		    {
        		    alert("\n이니페이 플러그인 128이 설치되지 않았습니다. \n\n안전한 결제를 위하여 이니페이 플러그인 128의 설치가 필요합니다. \n\n다시 설치하시려면 Ctrl + F5키를 누르시거나 메뉴의 [보기/새로고침]을 선택하여 주십시오.");
        		    return false;
    		    }
		    else{			
			    if(MakePayMessage(frm)){
				    disable_click();
				    openwin = window.open("childwin.html","childwin","width=299,height=149");
				    return true;
			    }else{
				    if( IsPluginModule() ){//plugin타입 체크
					    alert("결제를 취소하셨습니다.");
				     }
				     return false;
			    }
		    }
	    }
	    else{
		    return false;
	    }
    }

    function enable_click(){
	    document.ini.clickcontrol.value = "enable"
    }

    function disable_click(){
	    document.ini.clickcontrol.value = "disable"
    }

    function focus_control(){
	    if(document.ini.clickcontrol.value == "disable")
		    openwin.focus();
    }
</script>
<script type="text/JavaScript">
    <!--
    function MM_reloadPage(init) {  //reloads the window if Nav4 resized
      if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
        document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
      else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
    }
    MM_reloadPage(true);

    function MM_jumpMenu(targ,selObj,restore){ //v3.0
      eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
      if (restore) selObj.selectedIndex=0;
    }
    //-->
</script> 
 }

@{
    string cartNo = "";
    int totPaymoney = 0;
 }

<h2>List</h2>

<table style="border:solid 1px blue;" border="1">        
            <tr>
                <td>상품상세번호</td>
                <td>상품명</td>
                <td>구매자</td>
                <td>파일사이즈</td>
                <td>MATERIAL_VOLUME</td>
                <td>OBJECT_VOLUME</td>
                <td>SIZE_X</td>
                <td>SIZE_Y</td>
                <td>SIZE_Z</td>
                <td>판매가</td>    
                <td>갯수</td>      
                <td>결제비용</td>  
                <td>배송비</td>  
            </tr>

        @foreach (OrderInfo data in m.OrderInfoList)
        {
            <tr>
                <td>@data.PRODUCT_DETAIL_NO</td>
                <td>@data.PRODUCT_NAME</td>
                <td>@data.NAME</td>
                <td>@data.FILE_SIZE</td>
                <td>@data.MATERIAL_VOLUME</td>
                <td>@data.OBJECT_VOLUME</td>
                <td>@data.SIZE_X</td>
                <td>@data.SIZE_Y</td>
                <td>@data.SIZE_Z</td>
                <td>@data.TOTAL_PRICE</td>
                <td>@data.PRODUCT_CNT</td>
                <td>@data.PAYMENT_PRICE</td>
                <td>@data.SHIPPING_PRICE</td>
            </tr>
            cartNo = data.CART_NO;
            totPaymoney += (data.TOTAL_PRICE * data.PRODUCT_CNT) + data.SHIPPING_PRICE;
        }
    </table>

<p>
상품주문번호 <input type="text" value="" id="txtOid" />
</p>
<p>
장바구니번호 <input type="text" value="@cartNo" id="txtCartNo" />
</p>
<p>
상점아이디 <input type="text" value="" id="txtMid" />
</p>
<p>
위변조체크값 <input type="text" value="" id="txtIniRn" />
</p>
<p>
결제금액 <input type="text" value="@totPaymoney" id="txtPrice" />
</p>
<p>
상품명 <input type="text" value="" id="txtGoodName" />
</p>
<p>
화폐단위 <input type="text" value="" id="txtCurrency" />
</p>
<p>
스토어URL <input type="text" value="" id="txtUrl" />
</p>
<p>
안심클릭 카드코드 <input type="text" value="" id="txtCardCode" />
</p>
<p>
지불방법 <input type="text" value="" id="txtPayMethod" />
</p>
<p>
암호문 <input type="text" value="" id="txtEncrypted" />
</p>
<p>
세션키 <input type="text" value="" id="txtSessionKey" />
</p>
<p>
지불요청타입 <input type="text" value="" id="txtType" />
</p>
<p>
무이자 설정 여부 <input type="text" value="" id="txtNoInterest" />
</p>
<p>
할부개월 정보설정 <input type="text" value="" id="txtQuotaBase" />
</p>
<p>
구매자 성명 <input type="text" value="" id="txtBuyerName" />
</p>
<p>
구매자 이동전화 <input type="text" value="" id="txtBuyerTel" />
</p>
<p>
구매자 이메일주소 <input type="text" value="" id="txtBuyerEmail" />
</p>
<p>
받는사람 성명 <input type="text" value="" id="txtRecvName" />
</p>
<p>
받는사람 이동전화 <input type="text" value="" id="txtRecvTel" />
</p>
<p>
받는사람 이동전화2 <input type="text" value="" id="txtRecvTel2" />
</p>
<p>
받는사람 주소 <input type="text" value="" id="txtRecvAddr" />
</p>
<p>
받는사람 우편번호 <input type="text" value="" id="txtRecvPostNum" />
</p>
<p>
전달메시지 <input type="text" value="" id="txtRecvMsg" />
</p>
<p>
제휴카드코드 <input type="text" value="" id="txtJoinCard" />
</p>
<p>
제휴카드 유효기간 <input type="text" value="" id="txtJoinExpire" />
</p>
<p>
유저아이디 <input type="text" value="" id="txtUserId" />
</p>
<p>
과세금액 <input type="text" value="" id="txtTax" />
</p>
<p>
면세금액 <input type="text" value="" id="txtTaxFree" />
</p>
<p>
주문취소여부 <input type="text" value="" id="txtOrderCancelYn" />
</p>
<p>
고객번호 <input type="text" value="" id="txtMemberNo" />
</p>
<p>
주문일자 <input type="text" value="" id="txtOrderDate" />
</p>
<p>
결제상태 <input type="text" value="" id="txtPaymentStatus" />
</p>
<p>
배송주소(도로명) <input type="text" size="50" readonly="readonly" id="txtLnmAddr" />
</p>
<p>
배송주소(지번) <input type="text" size="50" readonly="readonly" id="txtRnAddr" />
</p>
<p>
배송주소 상세 <input type="text" id="txtAddrDetail" />
</p>
<p>
우편번호 <input type="text" readonly="readonly" id="txtPostNo" /> <input type="button" value="검색" id="btnSchPostNo" />
</p>
<p>
    <input type="button" id="btnPayRequest" value="결제하기" />
</p>
<script type="text/javascript">

    $("#btnSchPostNo").on("click", function () {
        openerWin("PopPostInfo");
    })

</script>