@model BusBlog
@{
    ViewBag.Title = "AddBlog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contents_zone">
    <h2 class="contents_title">블로그 등록</h2>

    <form id="insert_form" name="insert_form" method="post" enctype="multipart/form-data">
        @Html.Hidden("mode", "add")

        <table class="tbl_style1" summary="게시판 테이블">
            <colgroup>
                <col width="20%" />
                <col width="80%" />
            </colgroup>
            <caption>게시판</caption>
            <tbody>
                <tr>
                    <th scope="row">
                        <label for="title">제목</label></th>
                    <td>
                        @Html.EditorFor(model => model.BLOG_TITLE, new { htmlAttributes = new { @class = "input_text", placeholder = "제목을 입력하세요." } })
                        <br />@Html.ValidationMessageFor(model => model.BLOG_TITLE)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="BLOG_CONTENTS">내용</label></th>
                    <td>
                        @Html.TextAreaFor(model => model.BLOG_CONTENTS, new { style = "height:350px" })
                        @Html.ValidationMessageFor(model => model.BLOG_CONTENTS)
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="BLOG_CONTENTS">메인 이미지<br />(300x169)</label></th>
                    <td>
                        @Html.TextBoxFor(model => model.THUMB_NAME, new { type = "file", @class = "input_text", style = "width:50%;" })
                        @Html.ValidationMessageFor(model => model.THUMB_NAME)
                    </td>
                </tr>
                <tr>
                    <th>노출여부</th>
                    <td>
                        <input type="radio" name="USE_YN" value="Y" checked="checked" />
                        사용 &nbsp; 
					    <input type="radio" name="USE_YN" value="N" />
                        미사용&nbsp; 
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <div class="btn_center">
        <span class="btnWrap medium"><a href="#" class="_btn_write">등록</a></span>
        <span class="btnWrap medium"><a href="#" class="_btn_list">취소</a></span>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery.form.min.js")"></script>
    <style type="text/css">
        .field-validation-error {
            color:red;
        }
    </style>

    <script type="text/javascript">
        var editor;
        var editorItems = [
					'source', '|', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
					'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
					'insertunorderedlist', '|', 'emoticons', 'image', 'link', 'unlink', '|', 'preview', 'fullscreen'
        ];
        KindEditor.ready(function (K) {
            editor = K.create('textarea[id="BLOG_CONTENTS"]', {
                width:"800px",
                newlineTag : "p",
                allowFileManager: true,
                allowUpload: true,
                urlType: 'domain',
                langType: 'ko',
                items: editorItems,
                formatUploadUrl: false,
                fileManagerJson: '/KindEditor/FileManager',     //Browse file method 
                uploadJson: '/KindEditor/UploadImage'           //Upload file method     
            });
        });

        $(function () {
            //게시글 등록
            $("._btn_write").click(function (e) {
                var action_url = '/Bus/PostBlog';

                if ($("#BLOG_TITLE").val() == '') {
                    alert("블로그 제목을 입력해 주세요.");
                    return false;
                }
                var blogContents = editor.html();
                $("#BLOG_CONTENTS").val(encodeURIComponent(blogContents));
                if (blogContents == '') {
                    alert("블로그 내용을 입력해 주세요.");
                    return false;
                }

                var options = {
                    beforeSend: function () {

                    },
                    uploadProgress: function (event, position, total, percentComplete) {
                    },
                    success: function (response) {
                        if (response.Success) {
                            window.location.href = "/bus/blog";
                        }
                    },
                    complete: function (response) {
                    },
                    error: function (error) {
                        console.log(error);
                    }
                };

                $('#insert_form').attr("action", action_url).ajaxForm(options).submit();
                //var eventContent = (editor.html());
                //var title = $("#title").val();
                //data = {
                //    blogTitle: title,
                //    blogContents: eventContent
                //}
                //var onSuccess = function (result) {
                //    if (result.Success) {
                //        alert("블로그에 등록하였습니다.");
                //        location.replace("/bus/blog");
                //    }
                //}
                //var result = Ajax.AjaxResponseModelService(this, "/blog/postblog", data, onSuccess);
            });

            $("._btn_list").click(function () {
                if (confirm("취소 하시겠습니까?")) {
                    location.replace("/bus/blog");
                }
            });

        });
    </script>
}
