@using Net.Framework.BizDac;
@model PagedList.IPagedList<BusQnaT>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Qna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contents_zone">
    <h2 class="contents_title">문의</h2>

    <div class="faq_wrap">
        @if ((int)ViewData["cnt"] > 0)
        {
            foreach (var data in Model)
            {
                BusManageDac dac = new BusManageDac();
                string categoryName = dac.GetCategoryCodeName(data.CATEGORY);
                
            <div class="q_low">
                <div class="lowin">[@categoryName]</div>
                <div class="lowin"><a href="#" class="_btn_view" rel="@data.NO">@data.TITLE </a>&nbsp;[@data.REG_DT.ToString("yyyy-MM-dd")]</div>
            </div>
            <div class="a_low">
                <b>[작성자] <a href="mailTo:@data.EMAIL">@data.EMAIL</a></b>
                <br />
                <div class="lowin">
                    @Html.Raw(HtmlFilter.PunctuationDecode(data.CONTENTS))
                </div>
            </div>
            }
        }
        else
        {
            <div style="height: 200px; line-height: 200px; text-align: center;">
                등록된 문의사항이 없습니다.
            </div>
        }
    </div>
    
    <!-- page_navi -->
    <div class="page_navi">
        @Html.PagedListPager(Model, page => Url.Action("/", new { page = page, query = ViewData["query"] }))
    </div>
    <!-- // page_navi -->
</div>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {

            $(".q_low").on("click", function () {
                $(this).next().slideToggle();
                $(".a_low").not($(this).next()).slideUp();
            });

        });
    </script>
}