@model BusHistory
@{
    ViewBag.Title = "진행현황 수정";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="contents_zone">
    <h2 class="contents_title">진행현황</h2>

    <form id="insert_form" name="insert_form" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("mode", "edit")
        @Html.Hidden("NO", Model.NO)
        <table class="tbl_style1" summary="게시판 테이블">
            <colgroup>
                <col width="200x" />
                <col width="auto" />
            </colgroup>
            <caption>게시판</caption>
            <tbody>
            <tbody>
                <tr>
                    <th>관리용 제목</th>
                    <td>
                        
                    @Html.EditorFor(model => model.TITLE, new { @class = "input_text",style = "width: 75%;"})
                    <br />@Html.ValidationMessageFor(model => model.TITLE)
                    </td>
                </tr>
                <tr>
                    <th>진행일자</th>
                    <td>
                        @Html.TextBoxFor(model => model.PROGRESS_DT, new { @class = "input_text",style="width: 30%;" })
                        @Html.ValidationMessageFor(model => model.PROGRESS_DT)
                    </td>
                </tr>
                <tr>
                    <th>노출여부</th>
                    <td>
                        <input type="radio" name="USE_YN" value="Y" checked="checked" />
                        사용 &nbsp; 
					<input type="radio" name="USE_YN" value="N" />
                        미사용&nbsp; 
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <!-- btn -->
    <div class="btn_center">
        <span class="btnWrap medium"><a href="javascript:void(0);" id="Update" class="_btn_reg">수정</a></span>
        <span class="btnWrap medium"><a href="javascript:void(0);" id="GoList" class="_btn_list">목록</a></span>
        @*<span class="btnWrap medium"><a href="javascript:void(0);" id="Delete" class="_btn_delete">삭제</a></span>*@
    </div>

    <!-- // btn -->
    <br />
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery.form.min.js")"></script>
    <style type="text/css">
        .uploadify-queue-item .cancel a
        {
            background: url('/Content/uploadify-cancel.png') 0 0 no-repeat;
            float: right;
            height: 16px;
            text-indent: -9999px;
            width: 16px;
        }
        .field-validation-error {
            color:red;
        }
    </style>

    <script type="text/javascript">
        function Add() { }
        Add.Init = function () {
        }

        $("#Update").click(function () {

            var action_url = '/Bus/PostHistory';
            var options = {
                beforeSend: function () {

                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (response) {
                    if (response.Success) {
                        window.location.href = "/bus/history";
                    }
                },
                complete: function (response) {
                },
                error: function (error) {
                    console.log(error);
                }
            };

            $('#insert_form').attr("action", action_url).ajaxForm(options).submit();
        });

        $("#GoList").click(function () {
            $(location).attr("href", "/bus/history");
        });

        //$("#Delete").click(function () {
        //    if (!confirm("진행현황을 삭제 하시겠습니까?")) return false;
        //    var no = $("#NO").val();
        //    var data = {
        //        history: no
        //    }
        //    console.log(data);
        //    var onSuccess = function (result) {
        //        location.replace("/bus/history");
        //    }
        //    Ajax.AjaxResponseModelService(this, "/bus/deletehistory", data, onSuccess);
        //})

        $(function () {
            Add.Init();

        });
    </script>
}