@model BusApplySchoolT
@{
    ViewBag.Title = "UpdateApplySchool";
    string eventDate = "";
    DateTime dateObj = DateTime.Parse("2016-01-01 08:30:00");
    DateTime timeItem = dateObj;
    if(Model.EVENT_DATE != null)
    {
        eventDate = Model.EVENT_DATE.ToString().Substring(0, 10);
    }
}

<div class="contents_zone">
    <h2 class="contents_title">메이커버스 신청학교 정보</h2>

    <form id="insert_form" name="insert_form" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("mode", "edit")
        @Html.Hidden("NO", Model.NO)
        <table class="tbl_style1" summary="게시판 테이블">
            <colgroup>
                <col width="200x" />
                <col width="auto" />
            </colgroup>
            <caption>게시판</caption>
            <tbody>
            <tbody>
                <tr>
                    <th>학교명</th>
                    <td>
                        @Html.TextBoxFor(model => model.SCHOOL_NAME, new { @class = "input_text", style = "width: 75%;" })
                        <br />@Html.ValidationMessageFor(model => model.SCHOOL_NAME)
                    </td>
                </tr>
                <tr>
                    <th>학교주소</th>
                    <td>
                        @Html.TextBoxFor(model => model.SCHOOL_ADDR, new { style = "width: 75%;" })
                        @Html.ValidationMessageFor(model => model.SCHOOL_ADDR)
                    </td>
                </tr>
                <tr>
                    <th>담당교사</th>
                    <td>
                        @Html.TextBoxFor(model => model.MANAGER, new { style = "width: 75%;" })
                        @Html.ValidationMessageFor(model => model.MANAGER)
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        @Html.TextBoxFor(model => model.MANAGER_EMAIL, new { style = "width: 75%;" })
                        @Html.ValidationMessageFor(model => model.MANAGER_EMAIL)
                    </td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        @Html.TextBoxFor(model => model.MANAGER_TEL, new { style = "width: 75%;" })
                        @Html.ValidationMessageFor(model => model.MANAGER_TEL)
                    </td>
                </tr>
                <tr>
                    <th>신청서</th>
                    <td>
                        <a href="@Model.APPLY_PATH">@Model.APPLY_PATH</a>
                    </td>
                </tr>
                <tr>
                    <th>메이커버스 진행 여부</th>
                    <td>
                        @Html.RadioButtonFor(m => m.MAKERBUS_YN, "Y", new { @id = "yes" })
                        @Html.Label("yes", "예")
                        @Html.RadioButtonFor(m => m.MAKERBUS_YN, "N", new { @id = "no" })
                        @Html.Label("no", "아니오")
                    </td>
                </tr>
                <tr>
                    <th>참석인원</th>
                    <td>
                        @Html.TextBoxFor(model => model.PARTICIPATION_COUNT, new { style = "width: 75%;" })
                        @Html.ValidationMessageFor(model => model.PARTICIPATION_COUNT)
                    </td>
                </tr>
                <tr>
                    <th>모델링 횟수</th>
                    <td>
                        @Html.TextBoxFor(model => model.MODELING_COUNT, new { style = "width: 75%;" })
                        @Html.ValidationMessageFor(model => model.MODELING_COUNT)
                    </td>
                </tr>
                <tr>
                    <th>지원 프린터 댓수</th>
                    <td>
                        @Html.TextBoxFor(model => model.SUPPORT_PRINTER_COUNT, new { style = "width: 75%;" })
                        @Html.ValidationMessageFor(model => model.SUPPORT_PRINTER_COUNT)
                    </td>
                </tr>
                <tr>
                    <th>메이커버스 진행일자</th>
                    <td>
                        <input type="text" id="EVENT_DATE" name="EVENT_DATE" class="input_text" style="width: 106px; margin-right: 5px" readonly="readonly" value="@eventDate"/>
                        <select name="START_TIME">

                            @for (int i = 0; i < 19; i++)
                            {
                                timeItem = timeItem.AddMinutes(30);
                                string timeValue = timeItem.ToString("HH") + timeItem.ToString("mm");
                                string select = "";
                                if (timeValue.Equals(Model.START_TIME))
                                {
                                    select = "selected";
                                }
                                <option @select value="@timeValue">@timeItem.ToString("HH"):@timeItem.ToString("mm")</option>
                            }
                        </select>                        
                    </td>
                </tr>
                <tr>
                    <th>메모</th>
                    <td>
                        @Html.TextAreaFor(model => model.MEMO, new { style = "height: 350px;" })
                        @Html.ValidationMessageFor(model => model.MEMO)
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <!-- btn -->
    <div class="btn_center">
        <span class="btnWrap medium"><a href="javascript:void(0);" id="Update" class="_btn_reg">수정</a></span>
        <span class="btnWrap medium"><a href="javascript:void(0);" id="GoList" class="_btn_list">목록</a></span>
        @*<span class="btnWrap medium"><a href="javascript:void(0);" id="Delete" class="_btn_delete">삭제</a></span>*@
    </div>

    <!-- // btn -->
    <br />
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery.form.min.js")"></script>
    <style type="text/css">
        .uploadify-queue-item .cancel a {
            background: url('/Content/uploadify-cancel.png') 0 0 no-repeat;
            float: right;
            height: 16px;
            text-indent: -9999px;
            width: 16px;
        }

        .field-validation-error {
            color: red;
        }
    </style>

    <script type="text/javascript">

        $("#Update").click(function () {

            var action_url = '/Bus/PostApplySchool';
            var options = {
                beforeSend: function () {

                },
                uploadProgress: function (event, position, total, percentComplete) {
                },
                success: function (response) {
                    if (response.Success) {
                        window.location.href = "/bus/Apply";
                    }
                },
                complete: function (response) {
                },
                error: function (error) {
                    console.log(error);
                }
            };

            $('#insert_form').attr("action", action_url).ajaxForm(options).submit();
        });

        $("#GoList").click(function () {
            $(location).attr("href", "/bus/Apply");
        });

        $("#EVENT_DATE").datepicker({
            changeMonth: true,
            changeYear: true,
            showOn: 'both',
            buttonImage: '/Content/images/admin/icon_calender.png',
            buttonImageOnly: true,
            dateFormat: 'yy-mm-dd'
        });

    </script>
}